NodeRed dashboard/v2.0.1.json
[{"id":"8d200c.7655dff8","type":"tab","label":"Dashboard Zandvoort Draadindustrie","disabled":false,"info":""},{"id":"bf5e34f4.57e038","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 1","group":"d0736caf.93e56","order":1,"width":5,"height":4,"passthru":false,"label":"draad vervangen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"draad vervangen","payloadType":"str","topic":"Foutcode1","topicType":"msg","x":210,"y":1260,"wires":[["d2cef5f1.db29c8","3c8be1e3.c8742e"]]},{"id":"1332ad5a.b09a13","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 2","group":"d0736caf.93e56","order":2,"width":5,"height":4,"passthru":false,"label":"bekken versleten","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"bekken versleten","payloadType":"str","topic":"Foutcode2","topicType":"msg","x":210,"y":1320,"wires":[["d2cef5f1.db29c8","23c0ff38.292cc"]]},{"id":"f5e5c4b3.1c3088","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 3","group":"d0736caf.93e56","order":3,"width":5,"height":4,"passthru":false,"label":"messen/bekken versleten","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"messen/bekken versleten","payloadType":"str","topic":"Foutcode3","topicType":"msg","x":210,"y":1400,"wires":[["d2cef5f1.db29c8","24b663a.fea319c"]]},{"id":"d114a06f.b661","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 5","group":"7444c748.d1cae8","order":1,"width":5,"height":4,"passthru":false,"label":"geen orders","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"geen orders","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1540,"wires":[["b360d80a.426af8","325662ca.ec121e"]]},{"id":"98bb7778.fb4858","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 6","group":"7444c748.d1cae8","order":2,"width":5,"height":4,"passthru":false,"label":"geen draad","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"geen draad","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1600,"wires":[["b947f795.385198","325662ca.ec121e"]]},{"id":"88615f84.14f76","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 7","group":"7444c748.d1cae8","order":3,"width":5,"height":4,"passthru":false,"label":"onderhoud","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"onderhoud","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1680,"wires":[["ff29b06a.332b6","325662ca.ec121e"]]},{"id":"f41a8bc9.8d3c68","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 9","group":"8bf2d497.cb8348","order":1,"width":5,"height":4,"passthru":false,"label":"stilstand","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"stilstand","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1800,"wires":[["1c4929ab.887f46"]]},{"id":"3409ae91.b08002","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 10","group":"8bf2d497.cb8348","order":2,"width":5,"height":4,"passthru":false,"label":"draad info","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"draad info","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1840,"wires":[["cccf4909.dddb28"]]},{"id":"ec994859.2780b8","type":"ui_button","z":"8d200c.7655dff8","name":"Foutcode 11","group":"8bf2d497.cb8348","order":3,"width":5,"height":4,"passthru":false,"label":"Bekken","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"foutcode 11","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1880,"wires":[["e19e9177.b6b09"]]},{"id":"bd5684cb.cec658","type":"ui_button","z":"8d200c.7655dff8","name":"Toevoegen1","group":"18d5c3cf.ae8a0c","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":2260,"wires":[["b8bcc11.01ea14"]]},{"id":"cd7ee139.948be","type":"change","z":"8d200c.7655dff8","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2180,"wires":[["c0f3da85.1ede78"]]},{"id":"b3b87f87.6c8c2","type":"change","z":"8d200c.7655dff8","name":"DraadMerk","rules":[{"t":"set","p":"draad_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2140,"wires":[["c0f3da85.1ede78","d876d36f.d4566"]]},{"id":"d92eb54f.f6fab8","type":"ui_text_input","z":"8d200c.7655dff8","name":"Opmerking1","label":"Opmerking","tooltip":"","group":"18d5c3cf.ae8a0c","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2220,"wires":[["a2342834.479938"]]},{"id":"2a437282.80d6ee","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":520,"y":1360,"wires":[[]]},{"id":"61d65526.16004c","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":520,"y":1640,"wires":[[]]},{"id":"d64c333b.dc166","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":520,"y":1800,"wires":[["cb1e153e.80d208"]]},{"id":"b360d80a.426af8","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"geen_orders","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1540,"wires":[["d7fe390d.204ba8"]]},{"id":"b947f795.385198","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"geen_draad","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1600,"wires":[["6763c37d.62c65c"]]},{"id":"ff29b06a.332b6","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"onderhoud","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1680,"wires":[["82cba265.2934e"]]},{"id":"de31c930.e129b8","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":540,"y":80,"wires":[[]]},{"id":"c21fefc6.4cec5","type":"start-up-trigger","z":"8d200c.7655dff8","x":220,"y":40,"wires":[["790807cf.655348"]]},{"id":"5c788a81.50cc14","type":"inject","z":"8d200c.7655dff8","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":80,"wires":[["790807cf.655348"]]},{"id":"790807cf.655348","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Machine\"\n        ]\n    }\n}","output":"json","x":380,"y":40,"wires":[["de31c930.e129b8","85d51948.220158"]]},{"id":"5cc3aaf4.09a684","type":"ui_button","z":"8d200c.7655dff8","name":"","group":"3432014e.f68cfe","order":1,"width":5,"height":5,"passthru":true,"label":"Goed","tooltip":"","color":"","bgcolor":"Green","className":"","icon":"check","payload":"goed","payloadType":"str","topic":"Topic","topicType":"msg","x":190,"y":660,"wires":[["381eae1e.036bc2","915cf926.9d4898","84ed340b.e79268","276562c7.7d54ae"]]},{"id":"dc4621f3.3ef65","type":"ui_button","z":"8d200c.7655dff8","name":"","group":"3432014e.f68cfe","order":2,"width":5,"height":5,"passthru":true,"label":"Fout ","tooltip":"","color":"","bgcolor":"red","className":"","icon":"close","payload":"fout","payloadType":"str","topic":"Topic","topicType":"msg","x":190,"y":800,"wires":[["d728f916.4a4318","761d1ae8.075bf4","49e43347.d8e21c"]]},{"id":"7f6390f.dfeeb7","type":"ui_dropdown","z":"8d200c.7655dff8","name":"S-110","label":"S-110","tooltip":"","place":"Select option","group":"b37d1b3f.822268","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#1","value":"S-110-1","type":"str"},{"label":"#2","value":"S-110-2","type":"str"},{"label":"#3","value":"S-110-3","type":"str"},{"label":"#4","value":"S-110-4","type":"str"},{"label":"#19","value":"S-110-19","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":160,"wires":[["146d85a2.a03d6a"]]},{"id":"7daa174c.b71ab8","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":820,"y":140,"wires":[[]]},{"id":"c8f41d65.8728","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[[]]},{"id":"8874927a.cd11","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":140,"wires":[["7daa174c.b71ab8"]]},{"id":"1c002eb9.e50351","type":"change","z":"8d200c.7655dff8","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["8874927a.cd11","a387d196.188c8"]]},{"id":"40384fa9.593a5","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":540,"y":800,"wires":[[]]},{"id":"d728f916.4a4318","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":380,"y":800,"wires":[["40384fa9.593a5"]]},{"id":"48f3adc0.7dadc4","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2260,"wires":[[]]},{"id":"7e70ddc3.d91c44","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":720,"y":2260,"wires":[["48f3adc0.7dadc4"]]},{"id":"381eae1e.036bc2","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":660,"wires":[["e926ff5e.a8387"]]},{"id":"e926ff5e.a8387","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":540,"y":660,"wires":[[]]},{"id":"2af535f8.6f22ea","type":"ui_text_input","z":"8d200c.7655dff8","name":"Merk1","label":"Merk","tooltip":"","group":"18d5c3cf.ae8a0c","order":2,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2140,"wires":[["b3b87f87.6c8c2"]]},{"id":"a035bcc8.2bf95","type":"ui_button","z":"8d200c.7655dff8","name":"Toevoegen2","group":"a5961446.0d0558","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":2480,"wires":[["8d245dae.93913"]]},{"id":"b2eb3e70.a4f8d","type":"change","z":"8d200c.7655dff8","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2400,"wires":[["e0df96ed.233908"]]},{"id":"4194f4a7.5369ac","type":"change","z":"8d200c.7655dff8","name":"DraadMerk","rules":[{"t":"set","p":"draad_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2360,"wires":[["e0df96ed.233908"]]},{"id":"87173ee9.4a03e","type":"ui_text_input","z":"8d200c.7655dff8","name":"Opmerking2","label":"Opmerking","tooltip":"","group":"a5961446.0d0558","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2440,"wires":[["e340e5ca.731828"]]},{"id":"141c37a6.2b20d8","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2480,"wires":[[]]},{"id":"abb72671.cd1648","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":720,"y":2480,"wires":[["141c37a6.2b20d8"]]},{"id":"b732d811.7bf998","type":"ui_text_input","z":"8d200c.7655dff8","name":"Merk2","label":"Merk","tooltip":"","group":"a5961446.0d0558","order":2,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2360,"wires":[["4194f4a7.5369ac"]]},{"id":"36c49855.4c0c18","type":"ui_text_input","z":"8d200c.7655dff8","name":"Materiaal2","label":"Materiaal","tooltip":"","group":"a5961446.0d0558","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2400,"wires":[["b2eb3e70.a4f8d"]]},{"id":"dcfc119.65b38f","type":"ui_button","z":"8d200c.7655dff8","name":"Toevoegen3","group":"b2e24d48.5fb08","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":2700,"wires":[["77058be3.ddacc4"]]},{"id":"f3c3a791.9e0308","type":"change","z":"8d200c.7655dff8","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2620,"wires":[["28401a11.b04c86"]]},{"id":"4535a377.2e3fdc","type":"change","z":"8d200c.7655dff8","name":"BekkenMerk","rules":[{"t":"set","p":"bekken_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2580,"wires":[["28401a11.b04c86"]]},{"id":"383cd11e.5ce04e","type":"ui_text_input","z":"8d200c.7655dff8","name":"Opmerking3","label":"Opmerking","tooltip":"","group":"b2e24d48.5fb08","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2660,"wires":[["de8c2540.130458"]]},{"id":"1f2e1ac5.2f7e25","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2700,"wires":[[]]},{"id":"15e1d666.d03a8a","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":720,"y":2700,"wires":[["1f2e1ac5.2f7e25"]]},{"id":"e042dbd5.39e148","type":"ui_text_input","z":"8d200c.7655dff8","name":"Merk3","label":"Merk","tooltip":"","group":"b2e24d48.5fb08","order":2,"width":9,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2580,"wires":[["4535a377.2e3fdc"]]},{"id":"dce72652.abbae8","type":"ui_text_input","z":"8d200c.7655dff8","name":"Materiaal3","label":"Materiaal","tooltip":"","group":"b2e24d48.5fb08","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2620,"wires":[["f3c3a791.9e0308"]]},{"id":"6d0f3ca3.e8af44","type":"ui_button","z":"8d200c.7655dff8","name":"Terug1","group":"18d5c3cf.ae8a0c","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":2300,"wires":[["ea74b194.3b26"]]},{"id":"86112c70.6ccbb","type":"ui_button","z":"8d200c.7655dff8","name":"Terug2","group":"a5961446.0d0558","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":2520,"wires":[["c7c7a60e.92bf08"]]},{"id":"46fba95c.849cc8","type":"ui_button","z":"8d200c.7655dff8","name":"Terug3","group":"b2e24d48.5fb08","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":2740,"wires":[["a1553f14.3ee1b"]]},{"id":"c7c7a60e.92bf08","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":720,"y":2520,"wires":[["e7a1cacd.536898"]]},{"id":"e7a1cacd.536898","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2520,"wires":[[]]},{"id":"ea74b194.3b26","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":720,"y":2300,"wires":[["c2d1819e.4726a"]]},{"id":"c2d1819e.4726a","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2300,"wires":[[]]},{"id":"a1553f14.3ee1b","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":720,"y":2740,"wires":[["684e1618.2ce4c8"]]},{"id":"684e1618.2ce4c8","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2740,"wires":[[]]},{"id":"1c4929ab.887f46","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Button_1\"\n        ]\n    }\n}","output":"json","x":380,"y":1800,"wires":[["d64c333b.dc166"]]},{"id":"a2d533ae.0196f","type":"ui_dropdown","z":"8d200c.7655dff8","name":"N-3","label":"N-3","tooltip":"","place":"Select option","group":"b37d1b3f.822268","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#6","value":"N-3-6","type":"str"},{"label":"#11","value":"N-3-11","type":"str"},{"label":"#12","value":"N-3-12","type":"str"},{"label":"#13","value":"N-3-13","type":"str"},{"label":"#14","value":"N-3-14","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":260,"wires":[["1ad89517.a5a9bb"]]},{"id":"10d6695d.838207","type":"ui_dropdown","z":"8d200c.7655dff8","name":"N-4","label":"N-4","tooltip":"","place":"Select option","group":"b37d1b3f.822268","order":3,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#5","value":"N-4-5","type":"str"},{"label":"#7","value":"N-4-7","type":"str"},{"label":"#8","value":"N-4-8","type":"str"},{"label":"#9","value":"N-4-9","type":"str"},{"label":"#10","value":"N-4-10","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":360,"wires":[["ea876bc8.7a70d8"]]},{"id":"5981e9d7.ac5258","type":"ui_dropdown","z":"8d200c.7655dff8","name":"MAL","label":"MAL","tooltip":"","place":"Select option","group":"b37d1b3f.822268","order":4,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#16","value":"MAL-16","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":460,"wires":[["f6fe2714.3d5858"]]},{"id":"40ad29b.b6e27d8","type":"ui_dropdown","z":"8d200c.7655dff8","name":"DP80","label":"DP80","tooltip":"","place":"Select option","group":"b37d1b3f.822268","order":5,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#17","value":"DP80-17","type":"str"},{"label":"#18","value":"DP80-18","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":560,"wires":[["7282f96e.db4f38"]]},{"id":"d1de7118.d8eab","type":"ui_button","z":"8d200c.7655dff8","name":"","group":"3432014e.f68cfe","order":5,"width":4,"height":2,"passthru":true,"label":"Kies machine","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"Topic","topicType":"msg","x":220,"y":900,"wires":[["d55553e0.938f1"]]},{"id":"f4bf4242.e256f","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":540,"y":900,"wires":[[]]},{"id":"d55553e0.938f1","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Machine\"\n        ]\n    }\n}","output":"json","x":380,"y":900,"wires":[["f4bf4242.e256f","600a6101.c5022"]]},{"id":"67644a8d.b53384","type":"link out","z":"8d200c.7655dff8","name":"set \"leeg\" on start","links":["4162abe7.667464"],"x":710,"y":40,"wires":[],"l":true},{"id":"4162abe7.667464","type":"link in","z":"8d200c.7655dff8","name":"","links":["28105936.811916","67644a8d.b53384"],"x":75,"y":360,"wires":[["7f6390f.dfeeb7","a2d533ae.0196f","10d6695d.838207","5981e9d7.ac5258","40ad29b.b6e27d8"]]},{"id":"85d51948.220158","type":"change","z":"8d200c.7655dff8","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"leeg","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[["67644a8d.b53384"]]},{"id":"146d85a2.a03d6a","type":"switch","z":"8d200c.7655dff8","name":"bevat S-110-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"S-110-1","vt":"str"},{"t":"cont","v":"S-110-2","vt":"str"},{"t":"cont","v":"S-110-3","vt":"str"},{"t":"cont","v":"S-110-4","vt":"str"},{"t":"cont","v":"S-110-19","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":340,"y":160,"wires":[["c8f41d65.8728","1c002eb9.e50351"],["c8f41d65.8728","1c002eb9.e50351"],["c8f41d65.8728","1c002eb9.e50351"],["c8f41d65.8728","1c002eb9.e50351"],["1c002eb9.e50351","c8f41d65.8728"]]},{"id":"1ad89517.a5a9bb","type":"switch","z":"8d200c.7655dff8","name":"bevat N-3-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"N-3-6","vt":"str"},{"t":"cont","v":"N-3-11","vt":"str"},{"t":"cont","v":"N-3-12","vt":"str"},{"t":"cont","v":"N-3-13","vt":"str"},{"t":"cont","v":"N-3-14","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":260,"wires":[["c6e81bf1.ce2e88","9b4c2b51.1bf188"],["c6e81bf1.ce2e88","9b4c2b51.1bf188"],["c6e81bf1.ce2e88","9b4c2b51.1bf188"],["c6e81bf1.ce2e88","9b4c2b51.1bf188"],["c6e81bf1.ce2e88","9b4c2b51.1bf188"]]},{"id":"ea876bc8.7a70d8","type":"switch","z":"8d200c.7655dff8","name":"bevat N-4-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"N-4-5","vt":"str"},{"t":"cont","v":"N-4-7","vt":"str"},{"t":"cont","v":"N-4-8","vt":"str"},{"t":"cont","v":"N-4-9","vt":"str"},{"t":"cont","v":"N-4-10","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":360,"wires":[["a0e69427.9d1238","7bf30a8a.0a5124"],["a0e69427.9d1238","7bf30a8a.0a5124"],["a0e69427.9d1238","7bf30a8a.0a5124"],["a0e69427.9d1238","7bf30a8a.0a5124"],["a0e69427.9d1238","7bf30a8a.0a5124"]]},{"id":"d4a5e44a.201f18","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":820,"y":240,"wires":[[]]},{"id":"c6e81bf1.ce2e88","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"machine","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[[]]},{"id":"f5ffb7cf.6e8308","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":240,"wires":[["d4a5e44a.201f18"]]},{"id":"9b4c2b51.1bf188","type":"change","z":"8d200c.7655dff8","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["f5ffb7cf.6e8308","f61b10cd.7a2bc"]]},{"id":"ed290907.481cb8","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":820,"y":340,"wires":[[]]},{"id":"a0e69427.9d1238","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[[]]},{"id":"9fd6a309.02857","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":340,"wires":[["ed290907.481cb8"]]},{"id":"7bf30a8a.0a5124","type":"change","z":"8d200c.7655dff8","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["9fd6a309.02857","9f42ffe2.fe06f"]]},{"id":"26df5586.ce3cba","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":820,"y":440,"wires":[[]]},{"id":"bb9993cd.b02b2","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":440,"wires":[[]]},{"id":"4fbe67a6.a22058","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":440,"wires":[["26df5586.ce3cba"]]},{"id":"335a558f.c85d6a","type":"change","z":"8d200c.7655dff8","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["4fbe67a6.a22058","fe18437.98805c"]]},{"id":"f6fe2714.3d5858","type":"switch","z":"8d200c.7655dff8","name":"bevat MAL-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"MAL-16","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":460,"wires":[["bb9993cd.b02b2","335a558f.c85d6a"]]},{"id":"7282f96e.db4f38","type":"switch","z":"8d200c.7655dff8","name":"bevat DP80-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DP80-17","vt":"str"},{"t":"cont","v":"DP80-18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":560,"wires":[["15c970b.3eba08f","8c170600.068dd8"],["15c970b.3eba08f","8c170600.068dd8"]]},{"id":"15c970b.3eba08f","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[[]]},{"id":"8c170600.068dd8","type":"change","z":"8d200c.7655dff8","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":580,"wires":[["1f9f7126.89ab2f","61ede82e.9bd868"]]},{"id":"1f9f7126.89ab2f","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":540,"wires":[["a45fe270.0b5f"]]},{"id":"a45fe270.0b5f","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":820,"y":540,"wires":[[]]},{"id":"a2342834.479938","type":"change","z":"8d200c.7655dff8","name":"Opmerking","rules":[{"t":"set","p":"stilstand","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2220,"wires":[["c0f3da85.1ede78"]]},{"id":"e340e5ca.731828","type":"change","z":"8d200c.7655dff8","name":"Opmerking","rules":[{"t":"set","p":"draad_info","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2440,"wires":[["e0df96ed.233908"]]},{"id":"de8c2540.130458","type":"change","z":"8d200c.7655dff8","name":"Opmerking","rules":[{"t":"set","p":"opmerking_foutcode11","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2660,"wires":[["28401a11.b04c86"]]},{"id":"96b4f757.599de8","type":"ui_toast","z":"8d200c.7655dff8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":840,"y":660,"wires":[]},{"id":"94ff5db9.fa587","type":"ui_toast","z":"8d200c.7655dff8","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":840,"y":800,"wires":[]},{"id":"915cf926.9d4898","type":"change","z":"8d200c.7655dff8","name":"to goed","rules":[{"t":"set","p":"payload","pt":"msg","to":"Goed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":660,"wires":[["96b4f757.599de8"]]},{"id":"761d1ae8.075bf4","type":"change","z":"8d200c.7655dff8","name":"to fout","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":800,"wires":[["94ff5db9.fa587"]]},{"id":"d6dd0263.62473","type":"ui_button","z":"8d200c.7655dff8","name":"Overig 4","group":"d0736caf.93e56","order":4,"width":5,"height":4,"passthru":true,"label":"overig","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"overig spijkermakerij","payloadType":"str","topic":"Overig4","topicType":"msg","x":200,"y":1460,"wires":[["d2cef5f1.db29c8","755856aa.326668"]]},{"id":"9dc8727a.72ace","type":"ui_button","z":"8d200c.7655dff8","name":"Overig 8","group":"7444c748.d1cae8","order":4,"width":5,"height":4,"passthru":false,"label":"overig","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"overig kantoor","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1740,"wires":[["728f1e73.c2086","325662ca.ec121e"]]},{"id":"728f1e73.c2086","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"overig_kantoor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1740,"wires":[["6bfc9c7.28f4864"]]},{"id":"a42fe497.2dce58","type":"ui_button","z":"8d200c.7655dff8","name":"overig 12","group":"8bf2d497.cb8348","order":4,"width":5,"height":4,"passthru":false,"label":"overig","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"overig algemeen","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1920,"wires":[["d4b4a91.6352558"]]},{"id":"b6da7ec1.3f043","type":"ui_button","z":"8d200c.7655dff8","name":"Terug-spijkermakerij","group":"d0736caf.93e56","order":6,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":240,"y":1980,"wires":[["6b74ccf3.974b14"]]},{"id":"6b74ccf3.974b14","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":2020,"wires":[["f23c4a5f.32f0f8"]]},{"id":"f23c4a5f.32f0f8","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":520,"y":2020,"wires":[[]]},{"id":"16f34720.602709","type":"ui_button","z":"8d200c.7655dff8","name":"Terug-kantoor","group":"7444c748.d1cae8","order":6,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":220,"y":2020,"wires":[["6b74ccf3.974b14"]]},{"id":"8b5384df.aea468","type":"ui_button","z":"8d200c.7655dff8","name":"Terug-algemeen","group":"8bf2d497.cb8348","order":6,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":220,"y":2060,"wires":[["6b74ccf3.974b14"]]},{"id":"79c6c7c9.52cf28","type":"link out","z":"8d200c.7655dff8","name":"reset","links":["5bbf6c06.334d24","b5e320fd.241e7"],"x":890,"y":2200,"wires":[],"l":true},{"id":"4f17037b.b55b6c","type":"link out","z":"8d200c.7655dff8","name":"reset","links":["b5e320fd.241e7","77ca47ad.9d0e38"],"x":890,"y":2420,"wires":[],"l":true},{"id":"184e7e5e.26f4a2","type":"link out","z":"8d200c.7655dff8","name":"reset","links":["b5e320fd.241e7","69e3fc8b.c39e04"],"x":890,"y":2640,"wires":[],"l":true},{"id":"325662ca.ec121e","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":1640,"wires":[["61d65526.16004c"]]},{"id":"d2cef5f1.db29c8","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":1360,"wires":[["2a437282.80d6ee"]]},{"id":"600a6101.c5022","type":"change","z":"8d200c.7655dff8","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"leeg","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":940,"wires":[["28105936.811916"]]},{"id":"28105936.811916","type":"link out","z":"8d200c.7655dff8","name":"set \"leeg\" after kies machine","links":["af4ddf71.852df","4162abe7.667464","5e6af6b3.b58a78"],"x":600,"y":940,"wires":[],"l":true},{"id":"cccf4909.dddb28","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Button_2\"\n        ]\n    }\n}","output":"json","x":380,"y":1840,"wires":[["969dd2e4.eec33"]]},{"id":"969dd2e4.eec33","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":520,"y":1840,"wires":[["349e8479.0d4cac"]]},{"id":"e19e9177.b6b09","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n             \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Button_3\"\n        ]\n    }\n}","output":"json","x":380,"y":1880,"wires":[["a4edb7a8.38b158"]]},{"id":"a4edb7a8.38b158","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":520,"y":1880,"wires":[["5232915c.12cd1"]]},{"id":"d4b4a91.6352558","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\"\n        ],\n        \"show\": [\n            \"Controle_Button_4\"\n        ]\n    }\n}","output":"json","x":380,"y":1920,"wires":[["a8dbf803.51c7c8"]]},{"id":"a8dbf803.51c7c8","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":520,"y":1920,"wires":[["51bfe66e.d5c028"]]},{"id":"9ea8dc76.d1cf2","type":"link in","z":"8d200c.7655dff8","name":"","links":["276562c7.7d54ae","a387d196.188c8","fe18437.98805c","9f42ffe2.fe06f","61ede82e.9bd868","c093d3c9.f6a18","f61b10cd.7a2bc","fd8b6fc8.a7443","5c5e51a5.06552","5490b70b.70f948","9c903a06.2f8128","c582d730.936a78"],"x":75,"y":1020,"wires":[["a06576fc.e1aef8"]]},{"id":"e25613a8.68037","type":"ui_text","z":"8d200c.7655dff8","group":"80817930.69d5e8","order":1,"width":8,"height":1,"name":"status","label":"Status:","format":"{{msg.payload[0].status}}","layout":"row-left","className":"","x":670,"y":1020,"wires":[]},{"id":"d258055d.7b9178","type":"ui_text","z":"8d200c.7655dff8","group":"80817930.69d5e8","order":5,"width":8,"height":1,"name":"timestamp","label":"Tijd:","format":"{{msg.payload[0].timestamp | date : 'dd-MM-yyyy HH:mm.ss' : 'CET' }}","layout":"row-left","className":"","x":690,"y":1180,"wires":[]},{"id":"d77c27cf.0cd5e8","type":"ui_text","z":"8d200c.7655dff8","group":"80817930.69d5e8","order":2,"width":8,"height":1,"name":"foutcode","label":"Foutcode:","format":"{{msg.payload[0].materiaal}} {{msg.payload[0].batch}} {{msg.payload[0].bekken}} {{msg.payload[0].messen}} {{msg.payload[0].draad}} {{msg.payload[0].geen_orders}} {{msg.payload[0].overig_spijkermakerij}} {{msg.payload[0].geen_draad}} {{msg.payload[0].onderhoud}} {{msg.payload[0].overig_kantoor}} {{msg.payload[0].foutcode_11}}","layout":"row-left","className":"","x":680,"y":1060,"wires":[]},{"id":"9583419.eed01c","type":"ui_button","z":"8d200c.7655dff8","name":"delete","group":"80817930.69d5e8","order":8,"width":4,"height":2,"passthru":true,"label":"verwijderen","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"Topic","topicType":"msg","x":190,"y":1120,"wires":[["fd8b6fc8.a7443","56ae0b28.68b484"]]},{"id":"a06576fc.e1aef8","type":"delay","z":"8d200c.7655dff8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":1020,"wires":[["b9bc7221.490c7","d43279d2.aab2b8"]]},{"id":"b9bc7221.490c7","type":"delay","z":"8d200c.7655dff8","name":"","pauseType":"delayv","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":1060,"wires":[["a06576fc.e1aef8"]]},{"id":"fd8b6fc8.a7443","type":"link out","z":"8d200c.7655dff8","name":"select","links":["9ea8dc76.d1cf2"],"x":370,"y":1160,"wires":[],"l":true},{"id":"276562c7.7d54ae","type":"link out","z":"8d200c.7655dff8","name":"reset","links":["9ea8dc76.d1cf2","5e6af6b3.b58a78"],"x":370,"y":740,"wires":[],"l":true},{"id":"bdca6ace.8a4b08","type":"ui_text_input","z":"8d200c.7655dff8","name":"Materiaal1","label":"Materiaal","tooltip":"","group":"18d5c3cf.ae8a0c","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2180,"wires":[["cd7ee139.948be"]]},{"id":"536b4394.34a27c","type":"ui_button","z":"8d200c.7655dff8","name":"Toevoegen4","group":"bf2a7d1a.d3765","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":2920,"wires":[["18a509c5.f09ff6"]]},{"id":"c3717c5b.dcd3","type":"change","z":"8d200c.7655dff8","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2840,"wires":[["31500ff4.6e7e8"]]},{"id":"466a81ad.9b823","type":"change","z":"8d200c.7655dff8","name":"DraadMerk","rules":[{"t":"set","p":"draad_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2800,"wires":[["31500ff4.6e7e8"]]},{"id":"475da185.44e03","type":"ui_text_input","z":"8d200c.7655dff8","name":"Opmerking4","label":"Opmerking","tooltip":"","group":"bf2a7d1a.d3765","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2880,"wires":[["73770842.a24a08"]]},{"id":"5664d4af.51833c","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2920,"wires":[[]]},{"id":"9a51e517.36df78","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":720,"y":2920,"wires":[["5664d4af.51833c"]]},{"id":"8af8a68e.10e968","type":"ui_text_input","z":"8d200c.7655dff8","name":"Merk4","label":"Merk","tooltip":"","group":"bf2a7d1a.d3765","order":2,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2800,"wires":[["466a81ad.9b823"]]},{"id":"fafe0dd4.b38e6","type":"ui_text_input","z":"8d200c.7655dff8","name":"Materiaal4","label":"Materiaal","tooltip":"","group":"bf2a7d1a.d3765","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2840,"wires":[["c3717c5b.dcd3"]]},{"id":"1f50bcdf.8d0eb3","type":"ui_button","z":"8d200c.7655dff8","name":"Terug4","group":"bf2a7d1a.d3765","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":2960,"wires":[["5235cb6f.e3db94"]]},{"id":"5235cb6f.e3db94","type":"template","z":"8d200c.7655dff8","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":720,"y":2960,"wires":[["480a9b.5a6f0564"]]},{"id":"480a9b.5a6f0564","type":"ui_ui_control","z":"8d200c.7655dff8","name":"","x":860,"y":2960,"wires":[[]]},{"id":"73770842.a24a08","type":"change","z":"8d200c.7655dff8","name":"Opmerking","rules":[{"t":"set","p":"overig_algemeen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2880,"wires":[["31500ff4.6e7e8"]]},{"id":"c8bf7825.c19c08","type":"link out","z":"8d200c.7655dff8","name":"reset","links":["739eacdb.fa9334","b5e320fd.241e7"],"x":890,"y":2860,"wires":[],"l":true},{"id":"49e43347.d8e21c","type":"change","z":"8d200c.7655dff8","name":"to Fout","rules":[{"t":"set","p":"statusFout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":840,"wires":[[]]},{"id":"84ed340b.e79268","type":"change","z":"8d200c.7655dff8","name":"to Goed","rules":[{"t":"set","p":"statusGoed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":700,"wires":[["6474fbbf.c37d44"]]},{"id":"3c8be1e3.c8742e","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"draad","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1260,"wires":[["2c9e244c.64808c"]]},{"id":"23c0ff38.292cc","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"bekken","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1320,"wires":[["bb8fea0e.0defc8"]]},{"id":"24b663a.fea319c","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"messen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1400,"wires":[["5f7ab6ea.a15338"]]},{"id":"755856aa.326668","type":"change","z":"8d200c.7655dff8","name":"to var","rules":[{"t":"set","p":"overig_spijkermakerij","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1460,"wires":[["ef883d5.0c622c"]]},{"id":"61ede82e.9bd868","type":"link out","z":"8d200c.7655dff8","name":"get info","links":["9ea8dc76.d1cf2"],"x":680,"y":580,"wires":[],"l":true},{"id":"fe18437.98805c","type":"link out","z":"8d200c.7655dff8","name":"get info","links":["9ea8dc76.d1cf2"],"x":680,"y":480,"wires":[],"l":true},{"id":"9f42ffe2.fe06f","type":"link out","z":"8d200c.7655dff8","name":"get info","links":["9ea8dc76.d1cf2"],"x":680,"y":380,"wires":[],"l":true},{"id":"f61b10cd.7a2bc","type":"link out","z":"8d200c.7655dff8","name":"get info","links":["9ea8dc76.d1cf2"],"x":680,"y":280,"wires":[],"l":true},{"id":"a387d196.188c8","type":"link out","z":"8d200c.7655dff8","name":"get info","links":["9ea8dc76.d1cf2"],"x":680,"y":180,"wires":[],"l":true},{"id":"faff175e.ccfaa8","type":"link in","z":"8d200c.7655dff8","name":"","links":["1a3b8fe8.92aef"],"x":155,"y":1360,"wires":[["3c8be1e3.c8742e","23c0ff38.292cc","24b663a.fea319c","755856aa.326668"]]},{"id":"5bbf6c06.334d24","type":"link in","z":"8d200c.7655dff8","name":"","links":["79c6c7c9.52cf28"],"x":75,"y":2180,"wires":[["2af535f8.6f22ea","bdca6ace.8a4b08","d92eb54f.f6fab8","cd7ee139.948be"]]},{"id":"77ca47ad.9d0e38","type":"link in","z":"8d200c.7655dff8","name":"","links":["4f17037b.b55b6c"],"x":75,"y":2400,"wires":[["b732d811.7bf998","36c49855.4c0c18","87173ee9.4a03e","b2eb3e70.a4f8d"]]},{"id":"69e3fc8b.c39e04","type":"link in","z":"8d200c.7655dff8","name":"","links":["184e7e5e.26f4a2"],"x":75,"y":2620,"wires":[["e042dbd5.39e148","dce72652.abbae8","383cd11e.5ce04e","f3c3a791.9e0308"]]},{"id":"739eacdb.fa9334","type":"link in","z":"8d200c.7655dff8","name":"","links":["c8bf7825.c19c08"],"x":75,"y":2840,"wires":[["8af8a68e.10e968","fafe0dd4.b38e6","475da185.44e03","c3717c5b.dcd3"]]},{"id":"d40d0d9d.0c94c","type":"link in","z":"8d200c.7655dff8","name":"","links":["5bf2a11a.05b18","f009a199.cffff"],"x":155,"y":1640,"wires":[["b360d80a.426af8","b947f795.385198","ff29b06a.332b6","728f1e73.c2086"]]},{"id":"43f9b5c9.90952c","type":"change","z":"8d200c.7655dff8","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2200,"wires":[["79c6c7c9.52cf28"]]},{"id":"cf6fd36.f72613","type":"change","z":"8d200c.7655dff8","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2420,"wires":[["4f17037b.b55b6c"]]},{"id":"979ba7b1.91f5e8","type":"change","z":"8d200c.7655dff8","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2640,"wires":[["184e7e5e.26f4a2"]]},{"id":"c3a060b1.d74ee","type":"change","z":"8d200c.7655dff8","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2860,"wires":[["c8bf7825.c19c08"]]},{"id":"cb1e153e.80d208","type":"link out","z":"8d200c.7655dff8","name":"stilstand","links":["e5b86149.7d4d2"],"x":680,"y":1800,"wires":[],"l":true},{"id":"349e8479.0d4cac","type":"link out","z":"8d200c.7655dff8","name":"draad","links":["3851b67.8a11f4a"],"x":670,"y":1840,"wires":[],"l":true},{"id":"5232915c.12cd1","type":"link out","z":"8d200c.7655dff8","name":"bekken","links":["5c0fef75.09bc9"],"x":680,"y":1880,"wires":[],"l":true},{"id":"51bfe66e.d5c028","type":"link out","z":"8d200c.7655dff8","name":"overig 12","links":["beaa3bc2.8315c8"],"x":680,"y":1920,"wires":[],"l":true},{"id":"b8bcc11.01ea14","type":"change","z":"8d200c.7655dff8","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2260,"wires":[["43f9b5c9.90952c","7e70ddc3.d91c44","c0f3da85.1ede78"]]},{"id":"8d245dae.93913","type":"change","z":"8d200c.7655dff8","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2480,"wires":[["cf6fd36.f72613","abb72671.cd1648","e0df96ed.233908"]]},{"id":"77058be3.ddacc4","type":"change","z":"8d200c.7655dff8","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2700,"wires":[["15e1d666.d03a8a","979ba7b1.91f5e8","28401a11.b04c86"]]},{"id":"18a509c5.f09ff6","type":"change","z":"8d200c.7655dff8","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2920,"wires":[["c3a060b1.d74ee","9a51e517.36df78","31500ff4.6e7e8"]]},{"id":"d876d36f.d4566","type":"switch","z":"8d200c.7655dff8","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":2140,"wires":[["c7296c86.f360c"]]},{"id":"2d4699db.fcffb6","type":"switch","z":"8d200c.7655dff8","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":2360,"wires":[["9ecd991.ea4b768"]]},{"id":"5a642f5f.4ddac","type":"switch","z":"8d200c.7655dff8","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen3","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":2580,"wires":[["2d96cdc7.78a892"]]},{"id":"63ccb42a.78a59c","type":"switch","z":"8d200c.7655dff8","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen4","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":2800,"wires":[["3c30450.6e414bc"]]},{"id":"f733d99d.3f8868","type":"ui_text","z":"8d200c.7655dff8","group":"80817930.69d5e8","order":3,"width":8,"height":1,"name":"merk","label":"Merk:","format":"{{msg.payload[0].draad_merk}} {{msg.payload[0].bekken_merk}}","layout":"row-left","className":"","x":670,"y":1100,"wires":[]},{"id":"a6770665.69cc18","type":"ui_text","z":"8d200c.7655dff8","group":"80817930.69d5e8","order":4,"width":8,"height":1,"name":"opmerking","label":"Opmerking:","format":" {{msg.payload[0].stilstand}} {{msg.payload[0].draad_info}} {{msg.payload[0].opmerking_foutcode11}} {{msg.payload[0].overig_algemeen}}","layout":"row-left","className":"","x":690,"y":1140,"wires":[]},{"id":"2c4eb4fa.e8385c","type":"mysql","z":"8d200c.7655dff8","mydb":"26f9c7c.869fc38","name":"","x":510,"y":1020,"wires":[["d258055d.7b9178","d77c27cf.0cd5e8","e25613a8.68037","f733d99d.3f8868","a6770665.69cc18"]]},{"id":"1143a137.e369cf","type":"mysql","z":"8d200c.7655dff8","mydb":"26f9c7c.869fc38","name":"","x":510,"y":1120,"wires":[[]]},{"id":"d43279d2.aab2b8","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT * FROM algemeen\nWHERE machine='{{flow.machine}}'\nORDER BY id\nDESC LIMIT 1;","output":"str","x":370,"y":1020,"wires":[["2c4eb4fa.e8385c"]]},{"id":"56ae0b28.68b484","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DELETE FROM algemeen\nWHERE machine='{{flow.machine}}'\nORDER BY id DESC LIMIT 1","output":"str","x":370,"y":1120,"wires":[["1143a137.e369cf"]]},{"id":"c0f3da85.1ede78","type":"switch","z":"8d200c.7655dff8","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":2140,"wires":[["d876d36f.d4566"]]},{"id":"e0df96ed.233908","type":"switch","z":"8d200c.7655dff8","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":2360,"wires":[["2d4699db.fcffb6"]]},{"id":"28401a11.b04c86","type":"switch","z":"8d200c.7655dff8","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":2580,"wires":[["5a642f5f.4ddac"]]},{"id":"31500ff4.6e7e8","type":"switch","z":"8d200c.7655dff8","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":2800,"wires":[["63ccb42a.78a59c"]]},{"id":"3806a042.f56ba","type":"link in","z":"8d200c.7655dff8","name":"","links":[],"x":75,"y":1120,"wires":[["9583419.eed01c"]]},{"id":"2c9e244c.64808c","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, draad, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.draad}}',\n    'tablet'\n);\n   \n","output":"str","x":790,"y":1260,"wires":[["91f52f0b.494d5"]]},{"id":"91f52f0b.494d5","type":"mysql","z":"8d200c.7655dff8","mydb":"26f9c7c.869fc38","name":"","x":990,"y":1500,"wires":[["5c5e51a5.06552"]]},{"id":"bb8fea0e.0defc8","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, bekken, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.bekken}}',\n    'tablet'\n);\n","output":"str","x":790,"y":1320,"wires":[["91f52f0b.494d5"]]},{"id":"5f7ab6ea.a15338","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, bekken, messen, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.bekken}}',\n    '{{flow.messen}}',\n    'tablet'\n);\n","output":"str","x":790,"y":1400,"wires":[["91f52f0b.494d5"]]},{"id":"ef883d5.0c622c","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, overig_spijkermakerij, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.overig_spijkermakerij}}',\n    'tablet'\n);\n","output":"str","x":790,"y":1460,"wires":[["91f52f0b.494d5"]]},{"id":"d7fe390d.204ba8","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, geen_orders, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.geen_orders}}',\n    'tablet'\n);\n","output":"str","x":790,"y":1540,"wires":[["91f52f0b.494d5"]]},{"id":"6763c37d.62c65c","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, geen_draad, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.geen_draad}}',\n    'tablet'\n);\n","output":"str","x":790,"y":1600,"wires":[["91f52f0b.494d5"]]},{"id":"82cba265.2934e","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, onderhoud, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.onderhoud}}',\n    'tablet'\n);\n","output":"str","x":790,"y":1680,"wires":[["91f52f0b.494d5"]]},{"id":"6bfc9c7.28f4864","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, overig_kantoor, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.overig_kantoor}}',\n    'tablet'\n);\n","output":"str","x":790,"y":1740,"wires":[["91f52f0b.494d5"]]},{"id":"c7296c86.f360c","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, materiaal,\n    stilstand, draad_merk, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.materiaal}}',\n    '{{flow.stilstand}}',\n    '{{flow.draad_merk}}',\n    'tablet'\n);\n","output":"str","x":890,"y":2140,"wires":[["8dac4b48.657f78"]]},{"id":"9ecd991.ea4b768","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, materiaal,\n    draad_info, draad_merk, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.materiaal}}',\n    '{{flow.draad_info}}',\n    '{{flow.draad_merk}}',\n    'tablet'\n);\n","output":"str","x":890,"y":2360,"wires":[["8dac4b48.657f78"]]},{"id":"2d96cdc7.78a892","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, materiaal,\n    opmerking_foutcode11, bekken_merk, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.materiaal}}',\n    '{{flow.opmerking_foutcode11}}',\n    '{{flow.bekken_merk}}',\n    'tablet'\n);\n","output":"str","x":890,"y":2580,"wires":[["8dac4b48.657f78"]]},{"id":"3c30450.6e414bc","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, materiaal, overig_algemeen, draad_merk, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.materiaal}}',\n    '{{flow.overig_algemeen}}',\n    '{{flow.draad_merk}}',\n    'tablet'\n);\n","output":"str","x":890,"y":2800,"wires":[["8dac4b48.657f78"]]},{"id":"8dac4b48.657f78","type":"mysql","z":"8d200c.7655dff8","mydb":"26f9c7c.869fc38","name":"","x":1110,"y":2480,"wires":[["5490b70b.70f948"]]},{"id":"5c5e51a5.06552","type":"link out","z":"8d200c.7655dff8","name":"reset","links":["9ea8dc76.d1cf2"],"x":1130,"y":1500,"wires":[],"l":true},{"id":"5490b70b.70f948","type":"link out","z":"8d200c.7655dff8","name":"reset","links":["9ea8dc76.d1cf2"],"x":1250,"y":2480,"wires":[],"l":true},{"id":"d7efdfbe.6a8ae","type":"ui_text","z":"8d200c.7655dff8","group":"1c92eb44.921615","order":2,"width":0,"height":0,"name":"ordernummer","label":"Ordernummer:","format":"{{msg.payload[0].ordernummer}}","layout":"row-left","className":"","x":900,"y":3200,"wires":[]},{"id":"8192517.c3ff2b","type":"ui_text","z":"8d200c.7655dff8","group":"1c92eb44.921615","order":3,"width":0,"height":0,"name":"kopsoort","label":"kopsoort:","format":"{{msg.payload[0].kopsoort}}","layout":"row-left","className":"","x":880,"y":3240,"wires":[]},{"id":"bb6114c9.73a218","type":"mysql","z":"8d200c.7655dff8","mydb":"26f9c7c.869fc38","name":"","x":730,"y":3200,"wires":[["d7efdfbe.6a8ae","8192517.c3ff2b","5b787da0.7b5264","7feb007c.46ddf","3607a225.f3937e","6aef3246.9c7a8c","7d05e244.5db2ac","6c9934f7.7b44fc","f46384a0.3c6be8"]]},{"id":"6e222745.cfd8a8","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT * FROM orders\nWHERE machine='{{flow.machine}}'\nORDER BY id\nDESC LIMIT 1;","output":"str","x":570,"y":3200,"wires":[["bb6114c9.73a218"]]},{"id":"95d57d66.fae54","type":"start-up-trigger","z":"8d200c.7655dff8","x":220,"y":3200,"wires":[["231ae588.e91d4a","6e222745.cfd8a8"]]},{"id":"7fed5708.b4f488","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT TIMEDIFF\n(NOW(), \n\n(SELECT timestamp FROM algemeen\nWHERE machine='{{flow.machine}}'\nAND persoon='tablet'\nAND CURRENT_TIME > '07:30:00'\nAND CURRENT_TIME < '16:30:00'\nORDER BY id\nDESC LIMIT 1)) AS time_diff;","output":"str","x":570,"y":3040,"wires":[["4b16c343.12218c"]]},{"id":"4b16c343.12218c","type":"mysql","z":"8d200c.7655dff8","mydb":"26f9c7c.869fc38","name":"","x":730,"y":3040,"wires":[["876154a1.ebdea8","2d35ebf5.6c8cc4"]]},{"id":"d22df3cd.dacde","type":"start-up-trigger","z":"8d200c.7655dff8","x":220,"y":3040,"wires":[["8de36a2a.2248a8","7fed5708.b4f488"]]},{"id":"8de36a2a.2248a8","type":"delay","z":"8d200c.7655dff8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":3040,"wires":[["7fed5708.b4f488"]]},{"id":"1970388e.63ad17","type":"inject","z":"8d200c.7655dff8","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":3080,"wires":[["7fed5708.b4f488"]]},{"id":"5b787da0.7b5264","type":"ui_text","z":"8d200c.7655dff8","group":"1c92eb44.921615","order":4,"width":0,"height":0,"name":"afm_mm","label":"afm. mm:","format":"{{msg.payload[0].afm_mm + \" mm\"}}","layout":"row-left","className":"","x":880,"y":3280,"wires":[]},{"id":"7feb007c.46ddf","type":"ui_text","z":"8d200c.7655dff8","group":"27dc6673.1a5ffa","order":5,"width":0,"height":0,"name":"l_1","label":"l-1:","format":"{{payload[0].l_1 + \" mm\"}}","layout":"row-left","className":"","x":1050,"y":3200,"wires":[]},{"id":"3607a225.f3937e","type":"ui_text","z":"8d200c.7655dff8","group":"27dc6673.1a5ffa","order":6,"width":0,"height":0,"name":"draad_d_1","label":"Draad_d-1:","format":"{{msg.payload[0].draad_d_1 + \" mm\"}}","layout":"row-left","className":"","x":1070,"y":3240,"wires":[]},{"id":"6aef3246.9c7a8c","type":"ui_text","z":"8d200c.7655dff8","group":"27dc6673.1a5ffa","order":7,"width":0,"height":0,"name":"d_2_mm","label":"D-2_mm:","format":"{{msg.payload[0].d_2_mm + \" mm\"}}","layout":"row-left","className":"","x":1060,"y":3280,"wires":[]},{"id":"7d05e244.5db2ac","type":"ui_text","z":"8d200c.7655dff8","group":"27dc6673.1a5ffa","order":8,"width":0,"height":0,"name":"h_1_mm","label":"H-1_mm:","format":"{{msg.payload[0].h_1_mm + \" mm\"}}","layout":"row-left","className":"","x":1060,"y":3320,"wires":[]},{"id":"6c9934f7.7b44fc","type":"ui_text","z":"8d200c.7655dff8","group":"1c92eb44.921615","order":9,"width":0,"height":0,"name":"timestamp","label":"Datum:","format":"{{msg.payload[0].timestamp | date : 'dd-MM-yyyy HH:mm.ss' : 'CET' }}","layout":"row-left","className":"","x":890,"y":3320,"wires":[]},{"id":"cbc8d3b4.dc52d","type":"inject","z":"8d200c.7655dff8","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":3240,"wires":[["6e222745.cfd8a8"]]},{"id":"9a3e3a7b.44df08","type":"link out","z":"8d200c.7655dff8","name":"stuur mail","links":["b7a541cc.ef5c7"],"x":1280,"y":3040,"wires":[],"l":true},{"id":"b7a541cc.ef5c7","type":"link in","z":"8d200c.7655dff8","name":"","links":["9a3e3a7b.44df08"],"x":155,"y":3120,"wires":[["607dde9c.6ce9b"]]},{"id":"607dde9c.6ce9b","type":"function","z":"8d200c.7655dff8","name":"mail topic","func":"msg.topic=\"Bericht over machine: \" + flow.get('machine') + \".\"\nmsg.payload= \"Machine: \" + flow.get('machine') + \" is langer dan een half uur niet gecontrolleerd via de tablet\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":3120,"wires":[["8b08e797.ac6bc8"]]},{"id":"876154a1.ebdea8","type":"delay","z":"8d200c.7655dff8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":3080,"wires":[["8de36a2a.2248a8"]]},{"id":"231ae588.e91d4a","type":"delay","z":"8d200c.7655dff8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":3200,"wires":[["6e222745.cfd8a8"]]},{"id":"f46384a0.3c6be8","type":"delay","z":"8d200c.7655dff8","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":3240,"wires":[["231ae588.e91d4a"]]},{"id":"2d35ebf5.6c8cc4","type":"change","z":"8d200c.7655dff8","name":"","rules":[{"t":"set","p":"pass","pt":"msg","to":"(\t   $parts := $split($$.payload[0].time_dif,\":\").$number($);\t   ($parts[0] * 60 + $parts[1]) > 30\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3040,"wires":[["707cc552.e5107c"]]},{"id":"707cc552.e5107c","type":"rbe","z":"8d200c.7655dff8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"pass","x":1030,"y":3040,"wires":[["30efb8dc.1c81c8"]]},{"id":"30efb8dc.1c81c8","type":"switch","z":"8d200c.7655dff8","name":"","property":"pass","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1150,"y":3040,"wires":[["9a3e3a7b.44df08"],[]]},{"id":"8b08e797.ac6bc8","type":"e-mail","z":"8d200c.7655dff8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"hjzdraadindustrie@gmail.com","dname":"","x":650,"y":3120,"wires":[]},{"id":"6474fbbf.c37d44","type":"template","z":"8d200c.7655dff8","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, persoon)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusGoed}}',\n    'tablet'\n);\n   \n","output":"str","x":530,"y":700,"wires":[["c8cfd44f.9eafa8"]]},{"id":"c8cfd44f.9eafa8","type":"mysql","z":"8d200c.7655dff8","mydb":"26f9c7c.869fc38","name":"","x":690,"y":700,"wires":[[]]},{"id":"d0736caf.93e56","type":"ui_group","name":"Spijkermakerij","tab":"a03d3137.47062","order":5,"disp":true,"width":"20","collapse":false,"className":""},{"id":"7444c748.d1cae8","type":"ui_group","name":"Kantoor","tab":"a03d3137.47062","order":6,"disp":true,"width":"20","collapse":false,"className":""},{"id":"8bf2d497.cb8348","type":"ui_group","name":"Algemeen","tab":"a03d3137.47062","order":7,"disp":true,"width":"20","collapse":false,"className":""},{"id":"18d5c3cf.ae8a0c","type":"ui_group","name":"Button 1","tab":"a03d3137.47062","order":8,"disp":false,"width":"9","collapse":false,"className":""},{"id":"3432014e.f68cfe","type":"ui_group","name":"Kwaliteit spijker","tab":"a03d3137.47062","order":2,"disp":true,"width":10,"collapse":false,"className":""},{"id":"b37d1b3f.822268","type":"ui_group","name":"Machine","tab":"a03d3137.47062","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a5961446.0d0558","type":"ui_group","name":"Button 2","tab":"a03d3137.47062","order":9,"disp":false,"width":"9","collapse":false,"className":""},{"id":"b2e24d48.5fb08","type":"ui_group","name":"Button 3","tab":"a03d3137.47062","order":10,"disp":false,"width":"9","collapse":false,"className":""},{"id":"80817930.69d5e8","type":"ui_group","name":"Laatste foutcode","tab":"a03d3137.47062","order":4,"disp":true,"width":"8","collapse":false,"className":""},{"id":"bf2a7d1a.d3765","type":"ui_group","name":"Button 4","tab":"a03d3137.47062","order":11,"disp":false,"width":9,"collapse":false,"className":""},{"id":"26f9c7c.869fc38","type":"MySQLdatabase","name":"HJZ MySQL","host":"192.168.50.1","port":"3306","db":"dev","tz":"","charset":"UTF8"},{"id":"1c92eb44.921615","type":"ui_group","name":"Order details","tab":"93b42a29.16c938","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"27dc6673.1a5ffa","type":"ui_group","name":"Maten","tab":"93b42a29.16c938","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a03d3137.47062","type":"ui_tab","name":"Controle","icon":"report","order":1,"disabled":false,"hidden":false},{"id":"93b42a29.16c938","type":"ui_tab","name":"Orders","icon":"insert_drive_file","order":2,"disabled":false,"hidden":false}]