NodeRed/Dashboard/MSSQL TEST FLOW V1.0.14json.json
[{"id":"d286a86e.b18488","type":"tab","label":"Dashboard Zandvoort Draadindustrie","disabled":false,"info":""},{"id":"f4dbf813.bbaa28","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 1","group":"d0736caf.93e56","order":1,"width":5,"height":4,"passthru":false,"label":"draad vervangen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"draad vervangen","payloadType":"str","topic":"Foutcode1","topicType":"msg","x":210,"y":1460,"wires":[["a2b20857.ce68c8","a73bbe83.445fb"]]},{"id":"81b02150.59142","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 2","group":"d0736caf.93e56","order":2,"width":5,"height":4,"passthru":false,"label":"bekken versleten","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"bekken versleten","payloadType":"str","topic":"Foutcode2","topicType":"msg","x":210,"y":1520,"wires":[["a2b20857.ce68c8","c50abaf3.0e2288"]]},{"id":"206a34aa.e3448c","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 3","group":"d0736caf.93e56","order":3,"width":5,"height":4,"passthru":false,"label":"messen/stempels versleten","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"messen/stempels versleten","payloadType":"str","topic":"Foutcode3","topicType":"msg","x":210,"y":1600,"wires":[["a2b20857.ce68c8","d3352f62.34ff4"]]},{"id":"d660b6ef.9f8718","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 5","group":"c8509c99.83858","order":1,"width":5,"height":4,"passthru":false,"label":"geen orders","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"geen orders","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1720,"wires":[["f37fac4c.8c7c7","24ee5af7.03af16"]]},{"id":"d65f5640.d4ff08","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 6","group":"c8509c99.83858","order":2,"width":5,"height":4,"passthru":false,"label":"geen draad","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"geen draad","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1780,"wires":[["4cb1ca78.8b5b34","24ee5af7.03af16"]]},{"id":"fc9ab7f9.4e1438","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 7","group":"c8509c99.83858","order":3,"width":5,"height":4,"passthru":false,"label":"onderhoud","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"onderhoud","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1860,"wires":[["45464bf5.cb9e24","24ee5af7.03af16"]]},{"id":"840f235e.11a05","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 9","group":"cb4dcd8f.0c75","order":1,"width":5,"height":4,"passthru":false,"label":"stilstand","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"stilstand","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":1980,"wires":[["19590127.78191f"]]},{"id":"a970ffa4.213dd","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 10","group":"cb4dcd8f.0c75","order":2,"width":5,"height":4,"passthru":false,"label":"draad info","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"draad info","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":2020,"wires":[["99206c0b.4aa32"]]},{"id":"f4c44fb3.82476","type":"ui_button","z":"d286a86e.b18488","name":"Foutcode 11","group":"cb4dcd8f.0c75","order":3,"width":5,"height":4,"passthru":false,"label":"Bekken","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"foutcode 11","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":2060,"wires":[["6f6b271b.98cad8"]]},{"id":"7f323845.8e1b28","type":"ui_button","z":"d286a86e.b18488","name":"Toevoegen1","group":"cc57c99e.c8da98","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":2440,"wires":[["edccf172.2ff12"]]},{"id":"e626d2db.bb9ac","type":"change","z":"d286a86e.b18488","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2360,"wires":[["d8f152c7.1b287"]]},{"id":"31303151.17febe","type":"change","z":"d286a86e.b18488","name":"DraadMerk","rules":[{"t":"set","p":"draad_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2320,"wires":[["d8f152c7.1b287"]]},{"id":"ebf6a4b1.5576d8","type":"ui_text_input","z":"d286a86e.b18488","name":"Opmerking1","label":"Opmerking","tooltip":"","group":"cc57c99e.c8da98","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2400,"wires":[["b2d4af44.b75df"]]},{"id":"40264054.2d2f3","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":1560,"wires":[[]]},{"id":"516263f6.14436c","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":1820,"wires":[[]]},{"id":"84225b2b.48be18","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":1980,"wires":[["cef49336.88d52"]]},{"id":"f37fac4c.8c7c7","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"geen_orders","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1720,"wires":[["974a254f.b5c758"]]},{"id":"4cb1ca78.8b5b34","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"geen_draad","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1780,"wires":[["974a254f.b5c758"]]},{"id":"45464bf5.cb9e24","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"onderhoud","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1860,"wires":[["974a254f.b5c758"]]},{"id":"551822ba.8a377c","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":80,"wires":[[]]},{"id":"a23dad65.255a7","type":"start-up-trigger","z":"d286a86e.b18488","x":220,"y":40,"wires":[["c4c184f1.1ac698"]]},{"id":"1e93b3d4.4dfbac","type":"inject","z":"d286a86e.b18488","name":"reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":80,"wires":[["c4c184f1.1ac698"]]},{"id":"c4c184f1.1ac698","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Machine\"\n        ]\n    }\n}","output":"json","x":380,"y":40,"wires":[["551822ba.8a377c","7bdfaf49.989d7"]]},{"id":"2cbf67ee.adbc38","type":"ui_button","z":"d286a86e.b18488","name":"","group":"aeb16d53.a8248","order":1,"width":5,"height":5,"passthru":true,"label":"Goed","tooltip":"","color":"","bgcolor":"Green","className":"","icon":"check","payload":"goed","payloadType":"str","topic":"Topic","topicType":"msg","x":190,"y":660,"wires":[["c91a9e31.97a2e","d1566f27.7ff6e","1b58cccf.831ab3","52f0fa70.d61144","1ce0fd8f.b976a2"]]},{"id":"cee6084d.6258b8","type":"ui_button","z":"d286a86e.b18488","name":"","group":"aeb16d53.a8248","order":2,"width":5,"height":5,"passthru":true,"label":"Fout ","tooltip":"","color":"","bgcolor":"red","className":"","icon":"close","payload":"fout","payloadType":"str","topic":"Topic","topicType":"msg","x":190,"y":820,"wires":[["bb9891c1.7a72","7b2dc251.f5614c","fd16ccd6.feb03"]]},{"id":"9bc592f3.9d53","type":"ui_dropdown","z":"d286a86e.b18488","name":"S-110","label":"S-110","tooltip":"","place":"Select option","group":"3dd7aebf.249ea2","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#1","value":"S-110-1","type":"str"},{"label":"#2","value":"S-110-2","type":"str"},{"label":"#3","value":"S-110-3","type":"str"},{"label":"#4","value":"S-110-4","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":160,"wires":[["683b6bb4.93ab24"]]},{"id":"cef25337.d4d42","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":820,"y":140,"wires":[[]]},{"id":"f368954c.cb93a8","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":140,"wires":[[]]},{"id":"f6183597.0fc1f8","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":140,"wires":[["cef25337.d4d42"]]},{"id":"2057a04b.2dac8","type":"change","z":"d286a86e.b18488","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["f6183597.0fc1f8","55e7e00a.e6193"]]},{"id":"7b54195a.bc7b38","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":820,"wires":[[]]},{"id":"bb9891c1.7a72","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":380,"y":820,"wires":[["7b54195a.bc7b38"]]},{"id":"b4046ce9.dd04","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":2440,"wires":[[]]},{"id":"65aec4d4.fecd6c","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":800,"y":2440,"wires":[["b4046ce9.dd04"]]},{"id":"c91a9e31.97a2e","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":660,"wires":[["ce149cc5.730bf"]]},{"id":"ce149cc5.730bf","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":660,"wires":[[]]},{"id":"3bc6cc7a.55d3a4","type":"ui_text_input","z":"d286a86e.b18488","name":"Merk1","label":"Merk","tooltip":"","group":"cc57c99e.c8da98","order":2,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2320,"wires":[["31303151.17febe"]]},{"id":"c1cdf868.7dd668","type":"ui_button","z":"d286a86e.b18488","name":"Toevoegen2","group":"9bac3a11.f9b448","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":2660,"wires":[["1c4f7c57.594cc4"]]},{"id":"e491203d.50411","type":"change","z":"d286a86e.b18488","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2580,"wires":[["bea728b8.a882a8"]]},{"id":"9bc2257d.a21d48","type":"change","z":"d286a86e.b18488","name":"DraadMerk","rules":[{"t":"set","p":"draad_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2540,"wires":[["bea728b8.a882a8"]]},{"id":"dddfcd6d.7ecd4","type":"ui_text_input","z":"d286a86e.b18488","name":"Opmerking2","label":"Opmerking","tooltip":"","group":"9bac3a11.f9b448","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2620,"wires":[["ea76eb45.d814d8"]]},{"id":"57e272f5.c4618c","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":2660,"wires":[[]]},{"id":"c2a6a491.741558","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":800,"y":2660,"wires":[["57e272f5.c4618c"]]},{"id":"7cc2c9d3.8fe778","type":"ui_text_input","z":"d286a86e.b18488","name":"Merk2","label":"Merk","tooltip":"","group":"9bac3a11.f9b448","order":2,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2540,"wires":[["9bc2257d.a21d48"]]},{"id":"65767bb6.bf1d34","type":"ui_text_input","z":"d286a86e.b18488","name":"Materiaal2","label":"Materiaal","tooltip":"","group":"9bac3a11.f9b448","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2580,"wires":[["e491203d.50411"]]},{"id":"4ae644a7.5b0dbc","type":"ui_button","z":"d286a86e.b18488","name":"Toevoegen3","group":"f70e26a2.f4b3f8","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":2880,"wires":[["b473e3.6e578c2"]]},{"id":"a9a2610c.baf12","type":"change","z":"d286a86e.b18488","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2800,"wires":[["14722ae5.345505"]]},{"id":"51dda365.e210dc","type":"change","z":"d286a86e.b18488","name":"BekkenMerk","rules":[{"t":"set","p":"bekken_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2760,"wires":[["14722ae5.345505"]]},{"id":"352246cd.ad27fa","type":"ui_text_input","z":"d286a86e.b18488","name":"Opmerking3","label":"Opmerking","tooltip":"","group":"f70e26a2.f4b3f8","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2840,"wires":[["c18cb332.9c2a"]]},{"id":"a8a26cba.7e646","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":2880,"wires":[[]]},{"id":"a59da870.95fc28","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":800,"y":2880,"wires":[["a8a26cba.7e646"]]},{"id":"e43ce7d2.220e68","type":"ui_text_input","z":"d286a86e.b18488","name":"Merk3","label":"Merk","tooltip":"","group":"f70e26a2.f4b3f8","order":2,"width":9,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2760,"wires":[["51dda365.e210dc"]]},{"id":"48d60813.a5f8a8","type":"ui_text_input","z":"d286a86e.b18488","name":"Materiaal3","label":"Materiaal","tooltip":"","group":"f70e26a2.f4b3f8","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2800,"wires":[["a9a2610c.baf12"]]},{"id":"75c593b2.e88e8c","type":"ui_button","z":"d286a86e.b18488","name":"Terug1","group":"cc57c99e.c8da98","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":2480,"wires":[["b4f65f67.b243f"]]},{"id":"ba01770e.6be2f8","type":"ui_button","z":"d286a86e.b18488","name":"Terug2","group":"9bac3a11.f9b448","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":2700,"wires":[["41d63bf8.f420c4"]]},{"id":"7cde991.0b07d68","type":"ui_button","z":"d286a86e.b18488","name":"Terug3","group":"f70e26a2.f4b3f8","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":2920,"wires":[["a711da67.298f48"]]},{"id":"41d63bf8.f420c4","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":800,"y":2700,"wires":[["4693fa01.c982e4"]]},{"id":"4693fa01.c982e4","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":2700,"wires":[[]]},{"id":"b4f65f67.b243f","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":800,"y":2480,"wires":[["208f9fa6.b3f81"]]},{"id":"208f9fa6.b3f81","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":2480,"wires":[[]]},{"id":"a711da67.298f48","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":800,"y":2920,"wires":[["2d002756.0f42b8"]]},{"id":"2d002756.0f42b8","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":2920,"wires":[[]]},{"id":"19590127.78191f","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Button_1\"\n        ]\n    }\n}","output":"json","x":380,"y":1980,"wires":[["84225b2b.48be18"]]},{"id":"15265243.e9b5de","type":"ui_dropdown","z":"d286a86e.b18488","name":"N-3","label":"N-3","tooltip":"","place":"Select option","group":"3dd7aebf.249ea2","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#6","value":"N-3-6","type":"str"},{"label":"#11","value":"N-3-11","type":"str"},{"label":"#12","value":"N-3-12","type":"str"},{"label":"#13","value":"N-3-13","type":"str"},{"label":"#14","value":"N-3-14","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":260,"wires":[["9c74691f.84d3a8"]]},{"id":"d0395fb8.bbdc6","type":"ui_dropdown","z":"d286a86e.b18488","name":"N-4","label":"N-4","tooltip":"","place":"Select option","group":"3dd7aebf.249ea2","order":3,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#5","value":"N-4-5","type":"str"},{"label":"#7","value":"N-4-7","type":"str"},{"label":"#8","value":"N-4-8","type":"str"},{"label":"#9","value":"N-4-9","type":"str"},{"label":"#10","value":"N-4-10","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":360,"wires":[["1d7109d3.5f71e6"]]},{"id":"d9d87039.b4668","type":"ui_dropdown","z":"d286a86e.b18488","name":"MAL","label":"MAL","tooltip":"","place":"Select option","group":"3dd7aebf.249ea2","order":4,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#16","value":"MAL-16","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":460,"wires":[["7b28dd71.bc2824"]]},{"id":"9a996127.55fb6","type":"ui_dropdown","z":"d286a86e.b18488","name":"DP80","label":"DP80","tooltip":"","place":"Select option","group":"3dd7aebf.249ea2","order":5,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"leeg","value":"","type":"str"},{"label":"#17","value":"DP80-17","type":"str"},{"label":"#18","value":"DP80-18","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":190,"y":560,"wires":[["6bb98180.87f73"]]},{"id":"b933aff5.2c0b2","type":"ui_button","z":"d286a86e.b18488","name":"","group":"aeb16d53.a8248","order":5,"width":4,"height":2,"passthru":true,"label":"Kies machine","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"Topic","topicType":"msg","x":220,"y":900,"wires":[["7ba14e55.60588"]]},{"id":"e8ff3596.c2d638","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":900,"wires":[[]]},{"id":"7ba14e55.60588","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Machine\"\n        ]\n    }\n}","output":"json","x":380,"y":900,"wires":[["e8ff3596.c2d638","c5d83a87.427e08"]]},{"id":"154c910d.0ffa5f","type":"link out","z":"d286a86e.b18488","name":"set \"leeg\" on start","links":["ca196f4a.1ef55"],"x":710,"y":40,"wires":[],"l":true},{"id":"ca196f4a.1ef55","type":"link in","z":"d286a86e.b18488","name":"","links":["c23b354a.e02cf8","154c910d.0ffa5f"],"x":75,"y":360,"wires":[["9bc592f3.9d53","15265243.e9b5de","d0395fb8.bbdc6","d9d87039.b4668","9a996127.55fb6"]]},{"id":"7bdfaf49.989d7","type":"change","z":"d286a86e.b18488","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"leeg","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[["154c910d.0ffa5f"]]},{"id":"683b6bb4.93ab24","type":"switch","z":"d286a86e.b18488","name":"bevat S-110-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"S-110-1","vt":"str"},{"t":"cont","v":"S-110-2","vt":"str"},{"t":"cont","v":"S-110-3","vt":"str"},{"t":"cont","v":"S-110-4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":340,"y":160,"wires":[["f368954c.cb93a8","2057a04b.2dac8"],["f368954c.cb93a8","2057a04b.2dac8"],["f368954c.cb93a8","2057a04b.2dac8"],["f368954c.cb93a8","2057a04b.2dac8"]]},{"id":"9c74691f.84d3a8","type":"switch","z":"d286a86e.b18488","name":"bevat N-3-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"N-3-6","vt":"str"},{"t":"cont","v":"N-3-11","vt":"str"},{"t":"cont","v":"N-3-12","vt":"str"},{"t":"cont","v":"N-3-13","vt":"str"},{"t":"cont","v":"N-3-14","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":260,"wires":[["62b0ddd9.22fa04","37b2b9a5.d85196"],["62b0ddd9.22fa04","37b2b9a5.d85196"],["62b0ddd9.22fa04","37b2b9a5.d85196"],["62b0ddd9.22fa04","37b2b9a5.d85196"],["62b0ddd9.22fa04","37b2b9a5.d85196"]]},{"id":"1d7109d3.5f71e6","type":"switch","z":"d286a86e.b18488","name":"bevat N-4-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"N-4-5","vt":"str"},{"t":"cont","v":"N-4-7","vt":"str"},{"t":"cont","v":"N-4-8","vt":"str"},{"t":"cont","v":"N-4-9","vt":"str"},{"t":"cont","v":"N-4-10","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":360,"wires":[["60216e63.25dc1","cc625fda.77a0a"],["60216e63.25dc1","cc625fda.77a0a"],["60216e63.25dc1","cc625fda.77a0a"],["60216e63.25dc1","cc625fda.77a0a"],["60216e63.25dc1","cc625fda.77a0a"]]},{"id":"93834625.794988","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":820,"y":240,"wires":[[]]},{"id":"62b0ddd9.22fa04","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"machine","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[[]]},{"id":"878a14ed.ec6508","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":240,"wires":[["93834625.794988"]]},{"id":"37b2b9a5.d85196","type":"change","z":"d286a86e.b18488","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["878a14ed.ec6508","ccbfd612.957dd8"]]},{"id":"66d101ae.6d18e","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":820,"y":340,"wires":[[]]},{"id":"60216e63.25dc1","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[[]]},{"id":"4161208f.e1372","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":340,"wires":[["66d101ae.6d18e"]]},{"id":"cc625fda.77a0a","type":"change","z":"d286a86e.b18488","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["4161208f.e1372","9c461edc.3bc3f"]]},{"id":"ace68644.1e98b8","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":820,"y":440,"wires":[[]]},{"id":"f5433b2b.9a6278","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":440,"wires":[[]]},{"id":"6cdbfa6b.8ffbd4","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":440,"wires":[["ace68644.1e98b8"]]},{"id":"af68ee6e.315f","type":"change","z":"d286a86e.b18488","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["6cdbfa6b.8ffbd4","59c8b4f4.8d0b7c"]]},{"id":"7b28dd71.bc2824","type":"switch","z":"d286a86e.b18488","name":"bevat MAL-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"MAL-16","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":460,"wires":[["f5433b2b.9a6278","af68ee6e.315f"]]},{"id":"6bb98180.87f73","type":"switch","z":"d286a86e.b18488","name":"bevat DP80-xx","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DP80-17","vt":"str"},{"t":"cont","v":"DP80-18","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":560,"wires":[["d5ff438b.06306","d17cc2de.a341b"],["d5ff438b.06306","d17cc2de.a341b"]]},{"id":"d5ff438b.06306","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"machine","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[[]]},{"id":"d17cc2de.a341b","type":"change","z":"d286a86e.b18488","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":580,"wires":[["eaa29bdc.578f58","a862d7e6.753578"]]},{"id":"eaa29bdc.578f58","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":680,"y":540,"wires":[["fa432583.407f78"]]},{"id":"fa432583.407f78","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":820,"y":540,"wires":[[]]},{"id":"b2d4af44.b75df","type":"change","z":"d286a86e.b18488","name":"Opmerking","rules":[{"t":"set","p":"stilstand","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2400,"wires":[["d8f152c7.1b287"]]},{"id":"ea76eb45.d814d8","type":"change","z":"d286a86e.b18488","name":"Opmerking","rules":[{"t":"set","p":"draad_info","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2620,"wires":[["bea728b8.a882a8"]]},{"id":"c18cb332.9c2a","type":"change","z":"d286a86e.b18488","name":"Opmerking","rules":[{"t":"set","p":"opmerking_foutcode11","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2840,"wires":[["14722ae5.345505"]]},{"id":"c03d2bd7.ce8fa8","type":"ui_toast","z":"d286a86e.b18488","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"","name":"","x":840,"y":660,"wires":[]},{"id":"82c3c307.61f25","type":"ui_toast","z":"d286a86e.b18488","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":840,"y":820,"wires":[]},{"id":"d1566f27.7ff6e","type":"change","z":"d286a86e.b18488","name":"to goed","rules":[{"t":"set","p":"payload","pt":"msg","to":"Goed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":660,"wires":[["c03d2bd7.ce8fa8"]]},{"id":"7b2dc251.f5614c","type":"change","z":"d286a86e.b18488","name":"to fout","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fout","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":820,"wires":[["82c3c307.61f25"]]},{"id":"94ea347d.8eae18","type":"ui_button","z":"d286a86e.b18488","name":"Overig 4","group":"d0736caf.93e56","order":4,"width":5,"height":4,"passthru":true,"label":"overig","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"overig spijkermakerij","payloadType":"str","topic":"Overig4","topicType":"msg","x":200,"y":1660,"wires":[["a2b20857.ce68c8","8859193d.44b5e8"]]},{"id":"db5f7669.568f88","type":"ui_button","z":"d286a86e.b18488","name":"Overig 8","group":"c8509c99.83858","order":4,"width":5,"height":4,"passthru":false,"label":"overig","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"overig kantoor","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1920,"wires":[["e21ce84.1b35218","24ee5af7.03af16"]]},{"id":"e21ce84.1b35218","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"overig_kantoor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1920,"wires":[["974a254f.b5c758"]]},{"id":"b56fe2c0.6cf14","type":"ui_button","z":"d286a86e.b18488","name":"overig 12","group":"cb4dcd8f.0c75","order":4,"width":5,"height":4,"passthru":false,"label":"overig","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"overig algemeen","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":2100,"wires":[["ba700efe.9a642"]]},{"id":"a83fe427.3aebe8","type":"ui_button","z":"d286a86e.b18488","name":"Terug-spijkermakerij","group":"d0736caf.93e56","order":6,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":240,"y":2160,"wires":[["48a308ac.9d5e88"]]},{"id":"48a308ac.9d5e88","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":2200,"wires":[["beb0dcbc.99cff"]]},{"id":"beb0dcbc.99cff","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":2200,"wires":[[]]},{"id":"cc9ab875.4593c8","type":"ui_button","z":"d286a86e.b18488","name":"Terug-kantoor","group":"c8509c99.83858","order":6,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":220,"y":2200,"wires":[["48a308ac.9d5e88"]]},{"id":"7e72e619.3304f8","type":"ui_button","z":"d286a86e.b18488","name":"Terug-algemeen","group":"cb4dcd8f.0c75","order":6,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":220,"y":2240,"wires":[["48a308ac.9d5e88"]]},{"id":"ce6336f9.4800b8","type":"link out","z":"d286a86e.b18488","name":"reset","links":["20dc8221.c72f9e"],"x":1070,"y":2360,"wires":[],"l":true},{"id":"e9e752b4.03cd8","type":"link out","z":"d286a86e.b18488","name":"reset","links":["f96d8354.040b1"],"x":1070,"y":2580,"wires":[],"l":true},{"id":"ade49b40.b5a768","type":"link out","z":"d286a86e.b18488","name":"reset","links":["b788c2dc.bbd5d"],"x":1070,"y":2800,"wires":[],"l":true},{"id":"24ee5af7.03af16","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":1820,"wires":[["516263f6.14436c"]]},{"id":"a2b20857.ce68c8","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":380,"y":1560,"wires":[["40264054.2d2f3"]]},{"id":"c5d83a87.427e08","type":"change","z":"d286a86e.b18488","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"leeg","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":940,"wires":[["c23b354a.e02cf8"]]},{"id":"c23b354a.e02cf8","type":"link out","z":"d286a86e.b18488","name":"set \"leeg\" after kies machine","links":["af4ddf71.852df","ca196f4a.1ef55","5e6af6b3.b58a78"],"x":600,"y":940,"wires":[],"l":true},{"id":"5e6af6b3.b58a78","type":"link in","z":"d286a86e.b18488","name":"","links":["52f0fa70.d61144","c093d3c9.f6a18","c23b354a.e02cf8"],"x":75,"y":1100,"wires":[["af06247b.80d538"]]},{"id":"99206c0b.4aa32","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Button_2\"\n        ]\n    }\n}","output":"json","x":380,"y":2020,"wires":[["7bcf2179.8fe16"]]},{"id":"7bcf2179.8fe16","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":2020,"wires":[["158d1abf.5259d5"]]},{"id":"6f6b271b.98cad8","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n             \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Button_3\"\n        ]\n    }\n}","output":"json","x":380,"y":2060,"wires":[["aa31217d.80298"]]},{"id":"aa31217d.80298","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":2060,"wires":[["8e7b5caa.76f5d"]]},{"id":"ba700efe.9a642","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\"\n        ],\n        \"show\": [\n            \"Controle_Button_4\"\n        ]\n    }\n}","output":"json","x":380,"y":2100,"wires":[["33ab4248.a1204e"]]},{"id":"33ab4248.a1204e","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":540,"y":2100,"wires":[["dab95882.c3ed38"]]},{"id":"76bbf9ff.4b2748","type":"ui_button","z":"d286a86e.b18488","name":"+","group":"371288b8.2a3248","order":1,"width":3,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"expand_less","payload":"1","payloadType":"num","topic":"Topic","topicType":"msg","x":190,"y":1020,"wires":[["364cd0fb.8b042"]]},{"id":"e42a7942.919658","type":"ui_button","z":"d286a86e.b18488","name":"-","group":"371288b8.2a3248","order":3,"width":3,"height":2,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"expand_more","payload":"-1","payloadType":"num","topic":"Topic","topicType":"msg","x":190,"y":1060,"wires":[["364cd0fb.8b042"]]},{"id":"af06247b.80d538","type":"ui_button","z":"d286a86e.b18488","name":"reset","group":"371288b8.2a3248","order":5,"width":3,"height":2,"passthru":true,"label":"reset","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"Topic","topicType":"msg","x":190,"y":1100,"wires":[["424aadb6.bde084"]]},{"id":"364cd0fb.8b042","type":"function","z":"d286a86e.b18488","name":"count","func":"let count = flow.get('count') || 0  // initialise to 0 if undefined\nmsg.payload += count\nflow.set('count', msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1020,"wires":[["1e7238d5.ca8cd7","c11c30b0.c777f"]]},{"id":"424aadb6.bde084","type":"change","z":"d286a86e.b18488","name":"set to 0","rules":[{"t":"set","p":"count","pt":"flow","to":"-1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1100,"wires":[["364cd0fb.8b042"]]},{"id":"1e7238d5.ca8cd7","type":"ui_text","z":"d286a86e.b18488","group":"371288b8.2a3248","order":2,"width":3,"height":1,"name":"uur","label":"Uur:","format":"{{msg.payload}}","layout":"row-center","className":"","x":530,"y":1020,"wires":[]},{"id":"4282883e.31e3f8","type":"link in","z":"d286a86e.b18488","name":"","links":["52f0fa70.d61144","ccbfd612.957dd8","55e7e00a.e6193","9c461edc.3bc3f","59c8b4f4.8d0b7c","a862d7e6.753578","c093d3c9.f6a18","e1f3c22e.2b686","a0ff1f99.42379","3153f1a.13c540e","66883d8b.5e11b4","fda8e7aa.d84cd8","e452c891.c13d88","6251cc18.9b3f94","2b01595a.d93c26","ff0d776c.bc7f88","39f2ee1.fe13312"],"x":75,"y":1180,"wires":[["7de29b50.a54524"]]},{"id":"d613a315.f0678","type":"ui_text","z":"d286a86e.b18488","group":"3a3519f5.197aa6","order":1,"width":8,"height":1,"name":"status","label":"Status:","format":"{{msg.payload[0].status}}","layout":"row-left","className":"","x":670,"y":1180,"wires":[]},{"id":"d7b18e86.6a2e1","type":"ui_text","z":"d286a86e.b18488","group":"3a3519f5.197aa6","order":2,"width":8,"height":1,"name":"overtime","label":"Tijdklok:","format":"{{msg.payload[0].overtime}}","layout":"row-left","className":"","x":680,"y":1220,"wires":[]},{"id":"9e6e533f.fa8e4","type":"ui_text","z":"d286a86e.b18488","group":"3a3519f5.197aa6","order":6,"width":8,"height":1,"name":"timestamp","label":"Tijd:","format":"{{msg.payload[0].timestamp | date : 'dd-MM-yyyy HH:mm.ss' : 'UTC' }}","layout":"row-left","className":"","x":690,"y":1380,"wires":[]},{"id":"38a9bee3.b3e562","type":"ui_text","z":"d286a86e.b18488","group":"3a3519f5.197aa6","order":3,"width":8,"height":1,"name":"foutcode","label":"Foutcode:","format":"{{msg.payload[0].materiaal}} {{msg.payload[0].batch}} {{msg.payload[0].bekken}} {{msg.payload[0].messen}} {{msg.payload[0].draad}} {{msg.payload[0].geen_orders}} {{msg.payload[0].overig_spijkermakerij}} {{msg.payload[0].geen_draad}} {{msg.payload[0].onderhoud}} {{msg.payload[0].overig_kantoor}} {{msg.payload[0].foutcode_11}}","layout":"row-left","className":"","x":680,"y":1260,"wires":[]},{"id":"ed5adc97.4d696","type":"ui_button","z":"d286a86e.b18488","name":"delete","group":"3a3519f5.197aa6","order":8,"width":4,"height":2,"passthru":true,"label":"verwijderen","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"Topic","topicType":"msg","x":190,"y":1340,"wires":[["e1f3c22e.2b686","4ee1420a.c5bdcc"]]},{"id":"7de29b50.a54524","type":"delay","z":"d286a86e.b18488","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":1180,"wires":[["8b178c37.d3efd","cff3cfca.efcc4"]]},{"id":"8b178c37.d3efd","type":"delay","z":"d286a86e.b18488","name":"","pauseType":"delayv","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":1220,"wires":[["7de29b50.a54524"]]},{"id":"e1f3c22e.2b686","type":"link out","z":"d286a86e.b18488","name":"select","links":["4282883e.31e3f8"],"x":370,"y":1380,"wires":[],"l":true},{"id":"52f0fa70.d61144","type":"link out","z":"d286a86e.b18488","name":"reset","links":["4282883e.31e3f8","5e6af6b3.b58a78","44e7ae24.1a356"],"x":370,"y":740,"wires":[],"l":true},{"id":"d99637e.266bfc8","type":"ui_text_input","z":"d286a86e.b18488","name":"Materiaal1","label":"Materiaal","tooltip":"","group":"cc57c99e.c8da98","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":2360,"wires":[["e626d2db.bb9ac"]]},{"id":"ab79f7e8.7508a8","type":"ui_button","z":"d286a86e.b18488","name":"Toevoegen4","group":"768936f7.e6b918","order":6,"width":4,"height":2,"passthru":false,"label":"Toevoegen","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":210,"y":3100,"wires":[["e33235ff.af3628"]]},{"id":"38dbc93d.3d4216","type":"change","z":"d286a86e.b18488","name":"Materiaal","rules":[{"t":"set","p":"materiaal","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":3020,"wires":[["557bea00.0801a8"]]},{"id":"3e1a035c.32ce9c","type":"change","z":"d286a86e.b18488","name":"DraadMerk","rules":[{"t":"set","p":"draad_merk","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2980,"wires":[["557bea00.0801a8"]]},{"id":"7107ab4b.09e024","type":"ui_text_input","z":"d286a86e.b18488","name":"Opmerking4","label":"Opmerking","tooltip":"","group":"768936f7.e6b918","order":3,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":3060,"wires":[["176a63b0.aac2fc"]]},{"id":"b4a2ee5f.56cf9","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":3100,"wires":[[]]},{"id":"da514a40.0e8a58","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\"\n        ]\n    }\n}","output":"json","x":800,"y":3100,"wires":[["b4a2ee5f.56cf9"]]},{"id":"e6222511.bd4a48","type":"ui_text_input","z":"d286a86e.b18488","name":"Merk4","label":"Merk","tooltip":"","group":"768936f7.e6b918","order":2,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":190,"y":2980,"wires":[["3e1a035c.32ce9c"]]},{"id":"c0be25f9.d9eb78","type":"ui_text_input","z":"d286a86e.b18488","name":"Materiaal4","label":"Materiaal","tooltip":"","group":"768936f7.e6b918","order":1,"width":9,"height":1,"passthru":false,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":210,"y":3020,"wires":[["38dbc93d.3d4216"]]},{"id":"5049048.2c030fc","type":"ui_button","z":"d286a86e.b18488","name":"Terug4","group":"768936f7.e6b918","order":4,"width":4,"height":2,"passthru":false,"label":"Terug","tooltip":"","color":"","bgcolor":"Red","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":190,"y":3140,"wires":[["a3c9cacd.427188"]]},{"id":"a3c9cacd.427188","type":"template","z":"d286a86e.b18488","name":"set tabs","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"group\": {\n        \"hide\": [\n            \"Controle_Machine\",\n            \"Controle_Kwaliteit_spijker\",\n            \"Controle_Tijdklok\",\n            \"Controle_Laatste_foutcode\",\n            \"Controle_Button_1\",\n            \"Controle_Button_2\",\n            \"Controle_Button_3\",\n            \"Controle_Button_4\"\n        ],\n        \"show\": [\n            \"Controle_Spijkermakerij\",\n            \"Controle_Kantoor\",\n            \"Controle_Algemeen\"\n        ]\n    }\n}","output":"json","x":800,"y":3140,"wires":[["6342df8b.bc69b"]]},{"id":"6342df8b.bc69b","type":"ui_ui_control","z":"d286a86e.b18488","name":"","x":940,"y":3140,"wires":[[]]},{"id":"176a63b0.aac2fc","type":"change","z":"d286a86e.b18488","name":"Opmerking","rules":[{"t":"set","p":"overig_algemeen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3060,"wires":[["557bea00.0801a8"]]},{"id":"810107ea.d202a8","type":"link out","z":"d286a86e.b18488","name":"reset","links":["93c099ba.b83e38"],"x":1070,"y":3020,"wires":[],"l":true},{"id":"fd16ccd6.feb03","type":"change","z":"d286a86e.b18488","name":"to Fout","rules":[{"t":"set","p":"statusFout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":860,"wires":[[]]},{"id":"1b58cccf.831ab3","type":"change","z":"d286a86e.b18488","name":"to Goed","rules":[{"t":"set","p":"statusGoed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":700,"wires":[["3a659feb.99e6e"]]},{"id":"a73bbe83.445fb","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"draad","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1460,"wires":[["80f2df82.f6b05"]]},{"id":"c50abaf3.0e2288","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"bekken","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1520,"wires":[["80f2df82.f6b05"]]},{"id":"d3352f62.34ff4","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"messen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1600,"wires":[["80f2df82.f6b05"]]},{"id":"8859193d.44b5e8","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"overig_spijkermakerij","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1660,"wires":[["80f2df82.f6b05"]]},{"id":"a862d7e6.753578","type":"link out","z":"d286a86e.b18488","name":"get info","links":["4282883e.31e3f8"],"x":680,"y":580,"wires":[],"l":true},{"id":"59c8b4f4.8d0b7c","type":"link out","z":"d286a86e.b18488","name":"get info","links":["4282883e.31e3f8"],"x":680,"y":480,"wires":[],"l":true},{"id":"9c461edc.3bc3f","type":"link out","z":"d286a86e.b18488","name":"get info","links":["4282883e.31e3f8"],"x":680,"y":380,"wires":[],"l":true},{"id":"ccbfd612.957dd8","type":"link out","z":"d286a86e.b18488","name":"get info","links":["4282883e.31e3f8"],"x":680,"y":280,"wires":[],"l":true},{"id":"55e7e00a.e6193","type":"link out","z":"d286a86e.b18488","name":"get info","links":["4282883e.31e3f8"],"x":680,"y":180,"wires":[],"l":true},{"id":"c11c30b0.c777f","type":"change","z":"d286a86e.b18488","name":"to var","rules":[{"t":"set","p":"overtime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1060,"wires":[[]]},{"id":"4d55ebb4.0f8c94","type":"link out","z":"d286a86e.b18488","name":"code","links":["4b7815d.29d2fec","95ebd102.da77a","62351f9a.106c8","40e70908.86c318"],"x":990,"y":1780,"wires":[],"l":true},{"id":"8e515604.a34508","type":"link out","z":"d286a86e.b18488","name":"code","links":["4b7815d.29d2fec","95ebd102.da77a","62351f9a.106c8","40e70908.86c318"],"x":990,"y":1520,"wires":[],"l":true},{"id":"40e70908.86c318","type":"link in","z":"d286a86e.b18488","name":"","links":["136b0dc5.96c662","4d55ebb4.0f8c94","78148cb9.cd3554","8e515604.a34508","d5416a44.b250d8","f1f7506f.c8b24"],"x":155,"y":3220,"wires":[["81ee9c02.76b41"]]},{"id":"704f957e.830acc","type":"link in","z":"d286a86e.b18488","name":"","links":["1a3b8fe8.92aef"],"x":155,"y":1560,"wires":[["a73bbe83.445fb","c50abaf3.0e2288","d3352f62.34ff4","8859193d.44b5e8"]]},{"id":"20dc8221.c72f9e","type":"link in","z":"d286a86e.b18488","name":"","links":["ce6336f9.4800b8"],"x":75,"y":2360,"wires":[["3bc6cc7a.55d3a4","d99637e.266bfc8","ebf6a4b1.5576d8","e626d2db.bb9ac"]]},{"id":"f96d8354.040b1","type":"link in","z":"d286a86e.b18488","name":"","links":["e9e752b4.03cd8"],"x":75,"y":2580,"wires":[["7cc2c9d3.8fe778","65767bb6.bf1d34","dddfcd6d.7ecd4","e491203d.50411"]]},{"id":"b788c2dc.bbd5d","type":"link in","z":"d286a86e.b18488","name":"","links":["ade49b40.b5a768"],"x":75,"y":2800,"wires":[["e43ce7d2.220e68","48d60813.a5f8a8","352246cd.ad27fa","a9a2610c.baf12"]]},{"id":"93c099ba.b83e38","type":"link in","z":"d286a86e.b18488","name":"","links":["810107ea.d202a8"],"x":75,"y":3020,"wires":[["e6222511.bd4a48","c0be25f9.d9eb78","7107ab4b.09e024","38dbc93d.3d4216"]]},{"id":"c093d3c9.f6a18","type":"link out","z":"d286a86e.b18488","name":"set info","links":["4282883e.31e3f8","5e6af6b3.b58a78"],"x":800,"y":3220,"wires":[],"l":true},{"id":"136b0dc5.96c662","type":"link out","z":"d286a86e.b18488","name":"code","links":["c7f8afff.cec3e","40e70908.86c318","6084541c.0cbd0c"],"x":1070,"y":2980,"wires":[],"l":true},{"id":"d5416a44.b250d8","type":"link out","z":"d286a86e.b18488","name":"code","links":["c7f8afff.cec3e","40e70908.86c318","6084541c.0cbd0c"],"x":1070,"y":2760,"wires":[],"l":true},{"id":"f1f7506f.c8b24","type":"link out","z":"d286a86e.b18488","name":"code","links":["c7f8afff.cec3e","40e70908.86c318","6084541c.0cbd0c"],"x":1070,"y":2540,"wires":[],"l":true},{"id":"78148cb9.cd3554","type":"link out","z":"d286a86e.b18488","name":"code","links":["c7f8afff.cec3e","40e70908.86c318","6084541c.0cbd0c"],"x":1070,"y":2320,"wires":[],"l":true},{"id":"655d37da.180288","type":"change","z":"d286a86e.b18488","name":"to NULL","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1820,"wires":[["5bf2a11a.05b18"]]},{"id":"b21f2f5e.fb15d","type":"change","z":"d286a86e.b18488","name":"to NULL","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1560,"wires":[["1a3b8fe8.92aef"]]},{"id":"5bf2a11a.05b18","type":"link out","z":"d286a86e.b18488","name":"reset","links":["761a6c57.ee4e24","b01e6a55.fed078"],"x":1150,"y":1820,"wires":[],"l":true},{"id":"1a3b8fe8.92aef","type":"link out","z":"d286a86e.b18488","name":"reset","links":["704f957e.830acc","6084541c.0cbd0c"],"x":1150,"y":1560,"wires":[],"l":true},{"id":"80f2df82.f6b05","type":"switch","z":"d286a86e.b18488","name":"bevat foutcode","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"draad vervangen","vt":"str"},{"t":"cont","v":"bekken versleten","vt":"str"},{"t":"cont","v":"messen/stempels versleten","vt":"str"},{"t":"cont","v":"overig","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":820,"y":1560,"wires":[["8e515604.a34508","41c9c2cd.f972ec"],["8e515604.a34508","41c9c2cd.f972ec"],["8e515604.a34508","41c9c2cd.f972ec"],["8e515604.a34508","41c9c2cd.f972ec"]]},{"id":"b01e6a55.fed078","type":"link in","z":"d286a86e.b18488","name":"","links":["5bf2a11a.05b18","f009a199.cffff"],"x":155,"y":1820,"wires":[["f37fac4c.8c7c7","4cb1ca78.8b5b34","45464bf5.cb9e24","e21ce84.1b35218"]]},{"id":"974a254f.b5c758","type":"switch","z":"d286a86e.b18488","name":"bevat foutcode","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"geen orders","vt":"str"},{"t":"cont","v":"geen draad","vt":"str"},{"t":"cont","v":"onderhoud","vt":"str"},{"t":"cont","v":"overig","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":820,"y":1820,"wires":[["a68716e0.62ad48","4d55ebb4.0f8c94"],["a68716e0.62ad48","4d55ebb4.0f8c94"],["a68716e0.62ad48","4d55ebb4.0f8c94"],["a68716e0.62ad48","4d55ebb4.0f8c94"]]},{"id":"41c9c2cd.f972ec","type":"change","z":"d286a86e.b18488","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1600,"wires":[["b21f2f5e.fb15d"]]},{"id":"a68716e0.62ad48","type":"change","z":"d286a86e.b18488","name":"to true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1860,"wires":[["655d37da.180288"]]},{"id":"155a29e5.13c256","type":"change","z":"d286a86e.b18488","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2360,"wires":[["ce6336f9.4800b8"]]},{"id":"98d68c56.7efee","type":"change","z":"d286a86e.b18488","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2580,"wires":[["e9e752b4.03cd8"]]},{"id":"d19502b8.622ed","type":"change","z":"d286a86e.b18488","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":2800,"wires":[["ade49b40.b5a768"]]},{"id":"844a5f9a.8fa16","type":"change","z":"d286a86e.b18488","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3020,"wires":[["810107ea.d202a8"]]},{"id":"cef49336.88d52","type":"link out","z":"d286a86e.b18488","name":"stilstand","links":["e5b86149.7d4d2"],"x":680,"y":1980,"wires":[],"l":true},{"id":"158d1abf.5259d5","type":"link out","z":"d286a86e.b18488","name":"draad","links":["3851b67.8a11f4a"],"x":670,"y":2020,"wires":[],"l":true},{"id":"8e7b5caa.76f5d","type":"link out","z":"d286a86e.b18488","name":"bekken","links":["5c0fef75.09bc9"],"x":680,"y":2060,"wires":[],"l":true},{"id":"dab95882.c3ed38","type":"link out","z":"d286a86e.b18488","name":"overig 12","links":["beaa3bc2.8315c8"],"x":680,"y":2100,"wires":[],"l":true},{"id":"edccf172.2ff12","type":"change","z":"d286a86e.b18488","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2440,"wires":[["155a29e5.13c256","65aec4d4.fecd6c","d8f152c7.1b287"]]},{"id":"1c4f7c57.594cc4","type":"change","z":"d286a86e.b18488","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2660,"wires":[["98d68c56.7efee","c2a6a491.741558","bea728b8.a882a8"]]},{"id":"b473e3.6e578c2","type":"change","z":"d286a86e.b18488","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2880,"wires":[["a59da870.95fc28","d19502b8.622ed","14722ae5.345505"]]},{"id":"e33235ff.af3628","type":"change","z":"d286a86e.b18488","name":"Toevoegen","rules":[{"t":"set","p":"Toevoegen4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3100,"wires":[["844a5f9a.8fa16","da514a40.0e8a58","557bea00.0801a8"]]},{"id":"914cfae6.044d08","type":"switch","z":"d286a86e.b18488","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen1","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":2320,"wires":[["78148cb9.cd3554"]]},{"id":"63849024.9147b","type":"switch","z":"d286a86e.b18488","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen2","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":2540,"wires":[["f1f7506f.c8b24"]]},{"id":"ec34043e.0bfaf8","type":"switch","z":"d286a86e.b18488","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen3","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":2760,"wires":[["d5416a44.b250d8"]]},{"id":"4d0d9d86.2d8f54","type":"switch","z":"d286a86e.b18488","name":"bevat toevoegen","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Toevoegen4","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":820,"y":2980,"wires":[["136b0dc5.96c662"]]},{"id":"f9e4aeb1.c0ea5","type":"ui_text","z":"d286a86e.b18488","group":"3a3519f5.197aa6","order":4,"width":8,"height":1,"name":"merk","label":"Merk:","format":"{{msg.payload[0].draad_merk}}","layout":"row-left","className":"","x":670,"y":1300,"wires":[]},{"id":"de0a4ad5.e83d08","type":"ui_text","z":"d286a86e.b18488","group":"3a3519f5.197aa6","order":5,"width":8,"height":1,"name":"opmerking","label":"Opmerking:","format":" {{msg.payload[0].stilstand}} {{msg.payload[0].draad_info}} {{msg.payload[0].opmerking_foutcode11}} {{msg.payload[0].overig_algemeen}}","layout":"row-left","className":"","x":690,"y":1340,"wires":[]},{"id":"dee353f2.3c655","type":"mysql","z":"d286a86e.b18488","mydb":"c174b570.044d08","name":"","x":690,"y":700,"wires":[[]]},{"id":"ee3baddd.b72dc","type":"mysql","z":"d286a86e.b18488","mydb":"c174b570.044d08","name":"","x":510,"y":1180,"wires":[["9e6e533f.fa8e4","38a9bee3.b3e562","d7b18e86.6a2e1","d613a315.f0678","f9e4aeb1.c0ea5","de0a4ad5.e83d08","8e1d3771.1d9a48"]]},{"id":"aeb4dd3d.29c1a","type":"mysql","z":"d286a86e.b18488","mydb":"c174b570.044d08","name":"","x":510,"y":1340,"wires":[[]]},{"id":"8418e789.ab5518","type":"mysql","z":"d286a86e.b18488","mydb":"c174b570.044d08","name":"","x":550,"y":3220,"wires":[["c093d3c9.f6a18"]]},{"id":"cff3cfca.efcc4","type":"template","z":"d286a86e.b18488","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT * FROM algemeen\nWHERE machine='{{flow.machine}}'\nORDER BY id\nDESC LIMIT 1;","output":"str","x":370,"y":1180,"wires":[["ee3baddd.b72dc"]]},{"id":"4ee1420a.c5bdcc","type":"template","z":"d286a86e.b18488","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"DELETE FROM algemeen\nORDER BY id DESC LIMIT 1","output":"str","x":370,"y":1340,"wires":[["aeb4dd3d.29c1a"]]},{"id":"81ee9c02.76b41","type":"template","z":"d286a86e.b18488","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen \n    (machine, status, materiaal, batch,\n    bekken, messen, draad, overig_spijkermakerij,\n    geen_orders, geen_draad, onderhoud,\n    overig_kantoor, stilstand,\n    draad_info, draad_merk, foutcode_11,\n    opmerking_foutcode11, overig_algemeen,\n    bekken_merk)\n    \nVALUES \n(\n    '{{flow.machine}}',\n    '{{flow.statusFout}}',\n    '{{flow.materiaal}}',\n    '{{flow.batch}}',\n    '{{flow.bekken}}',\n    '{{flow.messen}}',\n    '{{flow.draad}}',\n    '{{flow.overig_spijkermakerij}}',\n    '{{flow.geen_orders}}',\n    '{{flow.geen_draad}}',\n    '{{flow.onderhoud}}',\n    '{{flow.overig_kantoor}}',\n    '{{flow.stilstand}}',\n    '{{flow.draad_info}}',\n    '{{flow.draad_merk}}',\n    '{{flow.foutcode_11}}',\n    '{{flow.opmerking_foutcode11}}',\n    '{{flow.overig_algemeen}}',\n    '{{flow.bekken_merk}}'\n);\n","output":"str","x":370,"y":3220,"wires":[["8418e789.ab5518"]]},{"id":"3a659feb.99e6e","type":"template","z":"d286a86e.b18488","name":"query","field":"topic","fieldType":"msg","format":"sql","syntax":"mustache","template":"INSERT INTO algemeen\n    (machine, status)\nVALUES\n    (\n        '{{flow.machine}}',\n        '{{flow.statusGoed}}'\n    );","output":"str","x":530,"y":700,"wires":[["dee353f2.3c655"]]},{"id":"d8f152c7.1b287","type":"switch","z":"d286a86e.b18488","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":2320,"wires":[["914cfae6.044d08"]]},{"id":"bea728b8.a882a8","type":"switch","z":"d286a86e.b18488","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":2540,"wires":[["63849024.9147b"]]},{"id":"14722ae5.345505","type":"switch","z":"d286a86e.b18488","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":2760,"wires":[["ec34043e.0bfaf8"]]},{"id":"557bea00.0801a8","type":"switch","z":"d286a86e.b18488","name":"is not null","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":2980,"wires":[["4d0d9d86.2d8f54"]]},{"id":"e5b86149.7d4d2","type":"link in","z":"d286a86e.b18488","name":"","links":["cef49336.88d52"],"x":495,"y":2360,"wires":[[]]},{"id":"3851b67.8a11f4a","type":"link in","z":"d286a86e.b18488","name":"","links":["158d1abf.5259d5"],"x":495,"y":2580,"wires":[[]]},{"id":"5c0fef75.09bc9","type":"link in","z":"d286a86e.b18488","name":"","links":["8e7b5caa.76f5d"],"x":495,"y":2800,"wires":[[]]},{"id":"beaa3bc2.8315c8","type":"link in","z":"d286a86e.b18488","name":"","links":["dab95882.c3ed38"],"x":495,"y":3020,"wires":[[]]},{"id":"1ce0fd8f.b976a2","type":"change","z":"d286a86e.b18488","name":"to \"leeg\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"leeg","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":780,"wires":[["31379a44.194586"]]},{"id":"31379a44.194586","type":"link out","z":"d286a86e.b18488","name":"set leeg after goed","links":[],"x":580,"y":780,"wires":[],"l":true},{"id":"21e0858f.503d9a","type":"template","z":"d286a86e.b18488","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM algemeen\nWHERE id=(SELECT MAX(id)\nFROM algemeen);","output":"str","x":380,"y":1240,"wires":[[]]},{"id":"44e7ae24.1a356","type":"link in","z":"d286a86e.b18488","name":"","links":["52f0fa70.d61144"],"x":75,"y":1300,"wires":[["8e1d3771.1d9a48"]]},{"id":"572a967d.7f1048","type":"change","z":"d286a86e.b18488","name":"","rules":[{"t":"set","p":"{{msg.payload[0].draad_merk}}","pt":"msg","to":"","tot":"str"},{"t":"set","p":"{{msg.payload[0].draad_info}}","pt":"msg","to":"","tot":"str"},{"t":"set","p":"{{msg.payload[0].opmerking_foutcode11}}","pt":"msg","to":"","tot":"str"},{"t":"set","p":"{{msg.payload[0].overig_algemeen}}","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1300,"wires":[["f9e4aeb1.c0ea5","de0a4ad5.e83d08"]]},{"id":"8e1d3771.1d9a48","type":"switch","z":"d286a86e.b18488","name":"bevat goed","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"goed","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":1300,"wires":[["572a967d.7f1048"]]},{"id":"d0736caf.93e56","type":"ui_group","name":"Spijkermakerij","tab":"f747a8df.768c88","order":5,"disp":true,"width":"20","collapse":false,"className":""},{"id":"c8509c99.83858","type":"ui_group","name":"Kantoor","tab":"f747a8df.768c88","order":6,"disp":true,"width":"20","collapse":false,"className":""},{"id":"cb4dcd8f.0c75","type":"ui_group","name":"Algemeen","tab":"f747a8df.768c88","order":7,"disp":true,"width":"20","collapse":false,"className":""},{"id":"cc57c99e.c8da98","type":"ui_group","name":"Button 1","tab":"f747a8df.768c88","order":8,"disp":false,"width":"9","collapse":false,"className":""},{"id":"aeb16d53.a8248","type":"ui_group","name":"Kwaliteit spijker","tab":"f747a8df.768c88","order":2,"disp":true,"width":10,"collapse":false,"className":""},{"id":"3dd7aebf.249ea2","type":"ui_group","name":"Machine","tab":"f747a8df.768c88","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9bac3a11.f9b448","type":"ui_group","name":"Button 2","tab":"f747a8df.768c88","order":9,"disp":false,"width":"9","collapse":false,"className":""},{"id":"f70e26a2.f4b3f8","type":"ui_group","name":"Button 3","tab":"f747a8df.768c88","order":10,"disp":false,"width":"9","collapse":false,"className":""},{"id":"371288b8.2a3248","type":"ui_group","d":true,"name":"Tijdklok","tab":"f747a8df.768c88","order":3,"disp":true,"width":"3","collapse":false,"className":""},{"id":"3a3519f5.197aa6","type":"ui_group","name":"Laatste foutcode","tab":"f747a8df.768c88","order":4,"disp":true,"width":"8","collapse":false,"className":""},{"id":"768936f7.e6b918","type":"ui_group","name":"Button 4","tab":"f747a8df.768c88","order":11,"disp":false,"width":9,"collapse":false,"className":""},{"id":"c174b570.044d08","type":"MySQLdatabase","name":"HJZ MySQL","host":"192.168.50.1","port":"3306","db":"dev","tz":"","charset":"UTF8"},{"id":"f747a8df.768c88","type":"ui_tab","name":"Controle","icon":"report","order":1,"disabled":false,"hidden":false}]